//ROBOTO

@font-face {
  font-family: "RobotoCondensed-Bold";
  src: url('../fonts/Roboto/RobotoCondensed-Bold.ttf');
}
@font-face {
  font-family: "RobotoCondensed-Regular";
  src: url('../fonts/Roboto/RobotoCondensed-Regular.ttf');
}
@font-face {
  font-family: "OpenSans";
  src: url('../fonts/OpenSans/OpenSans-Regular.ttf');
}
@font-face {
  font-family: "OpenSans-Semibold";
  src: url('../fonts/OpenSans/OpenSans-Semibold.ttf');
}


