footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
  background-color: #f7f9f8;
  color: #a8a4a3;
  position: relative;
  .leave-message {
    position: fixed;
    right: 0;
    bottom: 10%;
    font-family: "RobotoCondensed-Bold";
    background-color: #fe3f00;
    color: white;
    width: 180px;
    height: 36px;
    line-height: 36px;
    font-size: 13px;
    text-align: center;
    &:hover {
      background-color: black;
      color: white;
    }
  }
  .footer-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1060px;
    .footer-main {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      max-width: 675px;
      margin-bottom: 40px;
      .company-info {
        margin-right: 50px;
        .main-info {
          font-size: 15px;
          margin-top: 25px;
          max-width: 250px;
          font-family: "OpenSans";
        }
      }
      .company-info,
      .contact-information {
        width: 50%;
      }
      .contact-information {
        padding-left: 8px;
        max-width: 280px;
        font-family: "OpenSans";
        p {
          font-size: 14px;
          margin-bottom: 15px;
        }
      }
      .contact-title {
        font-size: 18px;
        margin-bottom: 25px;
        font-family: "OpenSans-Semibold";
      }
    }
  }
  .footer-menu {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    padding: 10px;
    margin-bottom: 20px;
    .nav-elements {
      li {
        display: inline-block;
        padding: 0 25px;
        a {
          text-transform: uppercase;
          letter-spacing: 0.1em;
          font-family: "RobotoCondensed-Bold";
          font-size: 16px;
        }
      }
    }
  }
  .copyright {
    width: 100%;
    text-align: center;
    font-size: 14px;
  }
}