<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EDS</title>
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/slick.css">
    <link rel="stylesheet" href="../css/select2.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/responsive/header-responsive.css">
    <link rel="stylesheet" href="../css/responsive/footer-responsive.css">
    <link rel="stylesheet" href="../css/responsive/main-responsive.css">
</head>
<body>

<!--header-->
<header>
    <div class="header-container">
        <div class="main-header">
            <div class="contact-info">
                <ul>
                    <li class="phone">00-002-1840</li>
                    <li class="mail">info@eds-interior.com</li>
                </ul>
            </div>
            <div class="logo">
                <img src="../img/logo.png" alt="logo">
            </div>
            <div class="account">
                <ul>
                    <li class="search">
                        <input type="search" placeholder="Search">
                    </li>
                    <li class="likes">
                        <span class="icon-EDS_icon-01"></span>
                        <span class="likes-count">1</span>
                    </li>
                    <li class="acc-name">my account</li>
                    <li class="language"><a href="">en</a></li>
                </ul>
            </div>
        </div>
        <div class="menu-main-container">
            <ul class="menu" id = 'menu-main'>
                <li><a href="">home</a>
                    <!--<div class = 'menu-dropdown'>-->
                        <!--<div class="dropdown-list-block">-->
                            <!--<div class="dropdown-list">-->
                                <!--<h4>External walls and-->
                                    <!--facades</h4>-->
                                <!--<ul>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                            <!--<div class="dropdown-list">-->
                                <!--<h4>External walls and-->
                                    <!--facades</h4>-->
                                <!--<ul>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                            <!--<div class="dropdown-list">-->
                                <!--<h4>External walls and-->
                                    <!--facades</h4>-->
                                <!--<ul>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                            <!--<div class="dropdown-list">-->
                                <!--<h4>External walls and-->
                                    <!--facades</h4>-->
                                <!--<ul>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                            <!--<div class="dropdown-list">-->
                                <!--<h4>External walls and-->
                                    <!--facades</h4>-->
                                <!--<ul>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                            <!--<div class="dropdown-list">-->
                                <!--<h4>External walls and-->
                                    <!--facades</h4>-->
                                <!--<ul>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="dropdown-img">-->
                            <!--<img src="../img/Bedroom.jpg" alt="">-->
                            <!--<h2 class = 'img-title ltr-spg'>Materials</h2>-->
                        <!--</div>-->
                    <!--</div>-->
                </li>
                <li><a href="">design</a></li>
                <li><a href="">rooms</a></li>
                <li><a href="">designer</a></li>
                <li><a href="">decoration</a></li>
                <li><a href="">materials</a></li>
                <li><a href="">furniture</a></li>
                <li><a href="">about us</a></li>
            </ul>
        </div>
    </div>

    <!--Mobile Menu-->
    <div class="mobile-menu">
        <div class="logo">
            <a href=""><img src="../img/logo.png" alt="logo"></a>
        </div>
        <div class="input-block">
            <input type="search" placeholder="Search">
            <div class="mobile-icon">
                Menu
                <span class="icon-EDS_icon-23"></span>
            </div>
        </div>
    </div>
    <div class="menu-block">
        <div class="menu-header">
            <span class="likes">
                <span class="icon-EDS_icon-01"></span>
                <span class="likes-count">1</span>
            </span>
            <span class="account">my account</span>
            <span class="language"><a href="">en</a></span>
            <span class="icon-EDS_icon-10 close-mobile-menu"></span>
        </div>
        <div class="menu-list">
            <ul class="main-list">
                <li class="main-list-element"><a href="">home</a> </li>
                <li class="main-list-element"><a href="">design</a> <span class="icon-EDS_icon-07 arrow"></span>
                    <ul class="submenu-list">
                        <li>Home Decorations
                            <ul>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                            </ul>
                        </li>
                        <li>Home Decorations</li>
                        <li>Home Decorations</li>
                        <li>Home Decorations</li>
                    </ul>
                </li>
                <li class="main-list-element"><a href="">rooms</a> <span class="icon-EDS_icon-07 arrow"></span>
                    <ul class="submenu-list">
                        <li>Home Decorations
                            <ul>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                            </ul>
                        </li>
                        <li>Home Decorations</li>
                        <li>Home Decorations</li>
                        <li>Home Decorations</li>
                    </ul></li>
                <li class="main-list-element"><a href="">designer</a> </li>
                <li class="main-list-element"><a href="">decoration</a> <span class="icon-EDS_icon-07 arrow"></span></li>
                <li class="main-list-element"><a href="">materials</a> <span class="icon-EDS_icon-07 arrow"></span>
                    <ul class="submenu-list">
                        <li>Home Decorations
                            <ul>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                            </ul>
                        </li>
                        <li>Home Decorations</li>
                        <li>Home Decorations</li>
                        <li>Home Decorations</li>
                    </ul></li>
                <li class="main-list-element"><a href="">furniture</a> <span class="icon-EDS_icon-07 arrow"></span>
                    <ul class="submenu-list">
                        <li>Home Decorations
                            <ul>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                            </ul>
                        </li>
                        <li>Home Decorations</li>
                        <li>Home Decorations</li>
                        <li>Home Decorations</li>
                    </ul>
                </li>
                <li class="main-list-element"><a href="">about us</a></li>
            </ul>
        </div>
        <div class="menu-footer">
            <span>400-002-1840</span>
            <span>info@eds-interior.com</span>
        </div>
    </div>
</header>
<!--HEADER END -->

<section class="main-section">
    <div class="container">
        <div class="main-container">
            <div class="shared-icons">
                <span class="icon-EDS_icon-01"></span>
                <span class="icon-EDS_icon-16"></span>
            </div>
            <!--test mobile slider-->
            <div class="mobile-slider">
                <div class="mobile-slider-element">
                    <img src="../img/ProjectPage/Photo_1.jpg" alt="">
                </div>
                <div class="mobile-slider-element">
                    <img src="../img/ProjectPage/Photo_2.jpg" alt="">
                </div>
                <div class="mobile-slider-element">
                    <img src="../img/ProjectPage/Photo_3.jpg" alt="">
                </div>
                <div class="mobile-slider-element">
                    <img src="../img/ProjectPage/Photo_4.jpg" alt="">
                </div>
                <div class="mobile-slider-element">
                    <img src="../img/ProjectPage/Photo_5.jpg" alt="">
                </div>
            </div>
            <!-- end test mobile slider-->
            <div class="carousel-wrapper">
                <div class="slider-for">
                    <div class="slider-element">
                        <img src="../img/CategoryPage/Sofa_1.jpg" alt="">
                    </div>
                    <div class="slider-element">
                        <img src="../img/CategoryPage/Sofa_2.jpg" alt="">
                    </div>
                    <div class="slider-element">
                        <img src="../img/CategoryPage/Sofa_3.jpg" alt="">
                    </div>
                    <div class="slider-element">
                        <img src="../img/CategoryPage/Sofa_4.jpg" alt="">
                    </div>
                    <div class="slider-element">
                        <img src="../img/CategoryPage/Sofa_5.jpg" alt="">
                    </div>
                </div>
                <div class="slider-nav">
                    <div class="navigation-element">
                        <div class="element-wrapper">
                            <img src="../img/CategoryPage/Sofa_1.jpg" alt="">
                        </div>
                        <div class="opacity-cover"></div>
                    </div>
                    <div class="navigation-element">
                        <div class="element-wrapper">
                            <img src="../img/CategoryPage/Sofa_2.jpg" alt="">
                        </div>
                        <div class="opacity-cover"></div>
                    </div>
                    <div class="navigation-element">
                        <div class="element-wrapper">
                            <img src="../img/CategoryPage/Sofa_3.jpg" alt="">
                        </div>
                        <div class="opacity-cover"></div>
                    </div>
                    <div class="navigation-element">
                        <div class="element-wrapper">
                            <img src="../img/CategoryPage/Sofa_4.jpg" alt="">
                        </div>
                        <div class="opacity-cover"></div>
                    </div>
                    <div class="navigation-element">
                        <div class="element-wrapper">
                            <img src="../img/CategoryPage/Sofa_5.jpg" alt="">
                        </div>
                        <div class="opacity-cover"></div>
                    </div>
                </div>
            </div>
            <div class="overview-block">
                <div class="accord-element">
                    <h2 class="accordion-title">overview <span class = "icon-EDS_icon-06"></span></h2>
                    <div class="overview">
                        <div class="top-overview">
                            <div class="overview-row">
                                <div class="overview-cell">
                                    Name of product / article
                                </div>
                                <div class="overview-cell">
                                    MED VARIA ISLAND
                                </div>
                            </div>
                            <div class="overview-row">
                                <div class="overview-cell">
                                    Type
                                </div>
                                <div class="overview-cell">
                                    Aluminium pergola with adjustable louvers with built-in lig
                                </div>
                            </div>
                            <div class="overview-row">
                                <div class="overview-cell">
                                    Materials
                                </div>
                                <div class="overview-cell">
                                    Aluminium
                                </div>
                            </div>
                            <div class="overview-row">
                                <div class="overview-cell">
                                    Design Year
                                </div>
                                <div class="overview-cell">
                                    2017
                                </div>
                            </div>
                        </div>
                        <div class="overview-description">
                            <p>Modular bioclimatic pergola in powder coated extruded aluminium, available in self-bearing or leaning version.
                            The structure integrates perfectly the ZIP awnings within the profiles, thus matching functional performance with minimalist style.Med Varia can be closed with both glass walls to face the cooler months and screen awnings during summertime.
                            This it becomes a solution that changes according to climate differences and can be used in all seasons.
                            The Side Seal patent guarantees side insulation of the cover. The Twist Motion patent allows for the rotation of the blades from 0° to 135°.</p>
                            <p>The blades, when placed in a slightly open position, create a comfortable microclimate and block direct radiation from the sun. Once closed, they
                            protect from the rain and the water is conveyed through an integrated drain pipe.</p>
                        </div>
                    </div>
                </div>
                <div class="accord-element">
                    <h2 class="accordion-title">tags <span class = "icon-EDS_icon-06"></span></h2>
                    <div class="overview">
                        <div class="top-overview">
                            <div class="overview-row">
                                <div class="overview-cell">
                                    Name of product / article
                                </div>
                                <div class="overview-cell">
                                    MED VARIA ISLAND
                                </div>
                            </div>
                            <div class="overview-row">
                                <div class="overview-cell">
                                    Type
                                </div>
                                <div class="overview-cell">
                                    Aluminium pergola with adjustable louvers with built-in lig
                                </div>
                            </div>
                            <div class="overview-row">
                                <div class="overview-cell">
                                    Materials
                                </div>
                                <div class="overview-cell">
                                    Aluminium
                                </div>
                            </div>
                            <div class="overview-row">
                                <div class="overview-cell">
                                    Design Year
                                </div>
                                <div class="overview-cell">
                                    2017
                                </div>
                            </div>
                        </div>
                        <div class="overview-description">
                            <p>Modular bioclimatic pergola in powder coated extruded aluminium, available in self-bearing or leaning version.
                                The structure integrates perfectly the ZIP awnings within the profiles, thus matching functional performance with minimalist style.Med Varia can be closed with both glass walls to face the cooler months and screen awnings during summertime.
                                This it becomes a solution that changes according to climate differences and can be used in all seasons.
                                The Side Seal patent guarantees side insulation of the cover. The Twist Motion patent allows for the rotation of the blades from 0° to 135°.</p>
                            <p>The blades, when placed in a slightly open position, create a comfortable microclimate and block direct radiation from the sun. Once closed, they
                                protect from the rain and the water is conveyed through an integrated drain pipe.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-sidebar">
            <div class="sidebar-wrapper">
                <div class="autor-block">
                    <div class="avatar">
                        <img src="../img/CategoryPage/logo.jpg" alt="">
                    </div>
                    <div class="name-block">
                        <h3>Saba Italia</h3>
                        <h4><span class="icon-EDS_icon-11"></span>Milano, MI / Italy</h4>
                    </div>
                    <div class="buttons-block">
                        <h1>LET IT BE</h1>
                        <h5>Sectional fabric sofa</h5>
                        <a href="#requestInformation" id = "showPopup" class="btn-red">request catalogues</a>
                        <a href="" class="btn">company website</a>
                    </div>
                </div>
                <div class="slider-block category-page-slider">
                    <h2>More on brand <a href="">Show all</a></h2>
                    <div class="sidebar-slider1">
                        <div class="slider-container">
                            <div class="slider-image">
                                <a href="">
                                    <img src="../img/CategoryPage/brand_1.jpg" alt="">
                                </a>
                            </div>
                            <div class="slider-image">
                                <a href="">
                                    <img src="../img/CategoryPage/brand_2.jpg" alt="">
                                </a>
                            </div>
                            <div class="slider-image">
                                <a href="">
                                    <img src="../img/CategoryPage/brand_3.jpg" alt="">
                                </a>
                            </div>
                            <div class="slider-image">
                                <a href="">
                                    <img src="../img/CategoryPage/brand_4.jpg" alt="">
                                </a>
                            </div>
                            <div class="slider-image">
                                <a href="">
                                    <img src="../img/CategoryPage/brand_5.jpg" alt="">
                                </a>
                            </div>
                            <div class="slider-image">
                                <a href="">
                                    <img src="../img/CategoryPage/brand_6.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="slider-container">
                            <div class="slider-image">
                                <a href="">
                                    <img src="../img/ProjectPage/Des_4.jpg" alt="">
                                </a>
                            </div>
                            <div class="slider-image">
                                <a href="">
                                    <img src="../img/ProjectPage/Des_1.jpg" alt="">
                                </a>
                            </div>
                            <div class="slider-image">
                                <a href="">
                                    <img src="../img/ProjectPage/Des_2.jpg" alt="">
                                </a>
                            </div>
                            <div class="slider-image">
                                <a href="">
                                    <img src="../img/ProjectPage/Des_3.jpg" alt="">
                                </a>
                            </div>
                            <div class="slider-image">
                                <a href="">
                                    <img src="../img/ProjectPage/Pr_3.jpg" alt="">
                                </a>
                            </div>
                            <div class="slider-image">
                                <a href="">
                                    <img src="../img/ProjectPage/Pr_4.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="slider-navigation">
                        <button class="slider-prev"><span class="icon-EDS_icon-08"></span></button>
                        <button class="slider-next"><span class="icon-EDS_icon-07"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="request-information" id = "requestInformation">
    <div class="container">
        <div class="title-block">
            <div class="title"><span class="icon-EDS_icon-15"></span>Request for Information</div>
            <div class="have-account">
                <a href="">Login</a>
                <h5>Already Have an Account</h5>
            </div>
        </div>
        <div class="form-wrapper">
            <form action="">
                <div class="form-title">
                    <img src="../img/CategoryPage/logo_2.jpg" alt="">
                    <div>
                        <h4>Get directly in touch wit</h4>
                        <h2>Poltrona Frau</h2>
                    </div>
                </div>
                <div class="checkboxes">
                    <h2>Request</h2>
                    <ul>
                        <li><input type="checkbox" class="styled-checkbox" id = "catalogue"><label for="catalogue">Catalogue</label></li>
                        <li><input type="checkbox" class="styled-checkbox" id = "retailers"><label for="retailers">Retailers list</label></li>
                        <li><input type="checkbox" class="styled-checkbox" id = "price"><label for="price">Price list</label></li>
                        <li><input type="checkbox" class="styled-checkbox" id = "contact"><label for="contact">Contact representative</label></li>
                    </ul>
                </div>
                <div class="inputs-block">
                    <div class="input-box">
                        <div class="input-wrapper">
                            <input type="text" placeholder="* First Name">
                        </div>
                        <div class="input-wrapper">
                            <input type="email" placeholder="* Email">
                        </div>
                        <div class="input-wrapper">
                            <input type="text" placeholder="Company / Studio Name">
                        </div>
                        <div class="input-wrapper columns">
                            <input type="text" placeholder="Address" required>
                            <input type="text" placeholder="№" required>
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="input-wrapper">
                            <input type="text" placeholder="* Last Name">
                        </div>
                        <div class="input-wrapper select-wrapper">
                            <select name="" id="professions">
                                <option value="">* Profession</option>
                            </select>
                            <span class="arrow icon-EDS_icon-06"></span>
                        </div>
                        <div class="input-wrapper columns">
                            <input type="text" placeholder="* City / Town" required>
                            <input type="text" placeholder="Postcode" required>
                        </div>
                        <div class="input-wrapper">
                            <input type="tel" placeholder="Tel.">
                        </div>
                    </div>
                    <textarea name="" placeholder="Type your request"></textarea>
                    <div class="button-block">
                        <div class="links">By clicking on Send I declare that I have read and accept the <a
                                href="">Service Limits</a> and <a href="">Privacy Policy</a></div>
                        <button type="submit" class="btn-red">send <span class="icon-EDS_icon-07"></span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<div class="popup">
    <div class="popup-wrapper">
        <div class="title-block">
            <div class="title"><span class="icon-EDS_icon-15"></span>Request for Information <span class="close-popup icon-EDS_icon-10"></span></div>
        </div>
        <div class="form-wrapper">
            <form action="">
                <div class="form-title">
                    <div class="avatar-title">
                        <img src="../img/CategoryPage/logo_2.jpg" alt="">
                        <div class="title">
                            <h4>Get directly in touch wit</h4>
                            <h2>Poltrona Frau</h2>
                        </div>
                    </div>
                    <div class="have-account">
                        <a href="">Login</a>
                        <h5>Already Have an Account</h5>
                    </div>
                </div>
                <div class="checkboxes">
                    <h2>Request</h2>
                    <ul>
                        <li><input type="checkbox" class="styled-checkbox" id = "pop-catalogue"><label for="pop-catalogue">Catalogue</label></li>
                        <li><input type="checkbox" class="styled-checkbox" id = "pop-retailers"><label for="pop-retailers">Retailers list</label></li>
                        <li><input type="checkbox" class="styled-checkbox" id = "pop-price"><label for="pop-price">Price list</label></li>
                        <li><input type="checkbox" class="styled-checkbox" id = "pop-contact"><label for="pop-contact">Contact representative</label></li>
                    </ul>
                </div>
                <div class="inputs-block">
                    <div class="input-box">
                        <div class="input-wrapper">
                            <input type="text" placeholder="First Name">
                        </div>
                        <div class="input-wrapper">
                            <input type="email" placeholder="Email">
                        </div>
                        <div class="input-wrapper">
                            <input type="text" placeholder="Company / Studio Name">
                        </div>
                        <div class="input-wrapper columns">
                            <input type="text" placeholder="Address" required>
                            <input type="text" placeholder="№" required>
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="input-wrapper">
                            <input type="text" placeholder="Last Name">
                        </div>
                        <div class="input-wrapper select-wrapper">
                            <select name="" id="professions">
                                <option value="">Profession</option>
                            </select>
                            <span class="arrow icon-EDS_icon-06"></span>
                        </div>
                        <div class="input-wrapper columns">
                            <input type="text" placeholder="*City / Town" required>
                            <input type="text" placeholder="Postcode" required>
                        </div>
                        <div class="input-wrapper">
                            <input type="tel" placeholder="Tel.">
                        </div>
                    </div>
                    <textarea name="" placeholder="Type your request"></textarea>
                    <div class="button-block">
                        <div class="links">By clicking on Send I declare that I have read and accept the <a
                                href="">Service Limits</a> and <a href="">Privacy Policy</a></div>
                        <button type="submit" class="btn-red">send <span class="icon-EDS_icon-07"></span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<section class="more-from category-page">
    <div class="container">
        <div class="gallery">
            <div class="gallery-wrapper">
                <h1>More From This Seller</h1>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/CategoryPage/product_1.jpg" alt="">
                        <h3 class="element-title">Cosette Jute Rug, Beige <span class="like icon-EDS_icon-01"></span></h3>
                    </a>
                </div>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/CategoryPage/product_2.jpg" alt="">
                        <h3 class="element-title">Upholstered Bed S, Sepia/Ecr <span class="like icon-EDS_icon-01"></span></h3>
                    </a>
                </div>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/CategoryPage/product_3.jpg" alt="">
                        <h3 class="element-title">Hue Pendant Shade, Black & Copper <span class="like icon-EDS_icon-01"></span></h3>
                    </a>
                </div>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/CategoryPage/product_4.jpg" alt="">
                        <h3 class="element-title">LILLIAN AUGUST <span class="like icon-EDS_icon-01"></span></h3>
                    </a>
                </div>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/CategoryPage/product_5.jpg" alt="">
                        <h3 class="element-title">Cosette Jute Rug, Beige <span class="like icon-EDS_icon-01"></span></h3>
                    </a>
                </div>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/CategoryPage/product_6.jpg" alt="">
                        <h3 class="element-title">Upholstered Bed S, Sepia/Ecr <span class="like icon-EDS_icon-01"></span></h3>
                    </a>
                </div>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/CategoryPage/product_7.jpg" alt="">
                        <h3 class="element-title">Hue Pendant Shade, Black & Copper <span class="like icon-EDS_icon-01"></span></h3>
                    </a>
                </div>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/CategoryPage/product_8.jpg" alt="">
                        <h3 class="element-title">LILLIAN AUGUST <span class="like icon-EDS_icon-01"></span></h3>
                    </a>
                </div>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/CategoryPage/product_9.jpg" alt="">
                        <h3 class="element-title">Cosette Jute Rug, Beige <span class="like icon-EDS_icon-01"></span></h3>
                    </a>
                </div>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/CategoryPage/product_10.jpg" alt="">
                        <h3 class="element-title">Upholstered Bed S, Sepia/Ecr <span class="like icon-EDS_icon-01"></span></h3>
                    </a>
                </div>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/CategoryPage/product_11.jpg" alt="">
                        <h3 class="element-title">Hue Pendant Shade, Black & Copper <span class="like icon-EDS_icon-01"></span></h3>
                    </a>
                </div>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/CategoryPage/product_12.jpg" alt="">
                        <h3 class="element-title">LILLIAN AUGUST <span class="like icon-EDS_icon-01"></span></h3>
                    </a>
                </div>
                <span class="block-more-link">MORE</span>
            </div>
        </div>
    </div>
</section>

<section class="more-from projects category-page">
    <div class="container">
        <div class="gallery">
            <div class="gallery-wrapper">
                <h1>You May Also Like</h1>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/CategoryPage/product_13.jpg" alt="">
                        <h3 class="element-title">Cosette Jute Rug, Beige <span class="like icon-EDS_icon-01"></span></h3>
                    </a>
                </div>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/CategoryPage/product_14.jpg" alt="">
                        <h3 class="element-title">Upholstered Bed S, Sepia/Ecr <span class="like icon-EDS_icon-01"></span></h3>
                    </a>
                </div>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/CategoryPage/product_15.jpg" alt="">
                        <h3 class="element-title">Hue Pendant Shade, Black & Copper <span class="like icon-EDS_icon-01"></span></h3>
                    </a>
                </div>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/CategoryPage/product_13.jpg" alt="">
                        <h3 class="element-title">LILLIAN AUGUST <span class="like icon-EDS_icon-01"></span></h3>
                    </a>
                </div>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/CategoryPage/product_14.jpg" alt="">
                        <h3 class="element-title">Cosette Jute Rug, Beige <span class="like icon-EDS_icon-01"></span></h3>
                    </a>
                </div>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/CategoryPage/product_15.jpg" alt="">
                        <h3 class="element-title">Upholstered Bed S, Sepia/Ecr <span class="like icon-EDS_icon-01"></span></h3>
                    </a>
                </div>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/CategoryPage/product_7.jpg" alt="">
                        <h3 class="element-title">Hue Pendant Shade, Black & Copper <span class="like icon-EDS_icon-01"></span></h3>
                    </a>
                </div>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/CategoryPage/product_8.jpg" alt="">
                        <h3 class="element-title">LILLIAN AUGUST <span class="like icon-EDS_icon-01"></span></h3>
                    </a>
                </div>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/CategoryPage/product_13.jpg" alt="">
                        <h3 class="element-title">Cosette Jute Rug, Beige <span class="like icon-EDS_icon-01"></span></h3>
                    </a>
                </div>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/CategoryPage/product_10.jpg" alt="">
                        <h3 class="element-title">Upholstered Bed S, Sepia/Ecr <span class="like icon-EDS_icon-01"></span></h3>
                    </a>
                </div>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/CategoryPage/product_14.jpg" alt="">
                        <h3 class="element-title">Hue Pendant Shade, Black & Copper <span class="like icon-EDS_icon-01"></span></h3>
                    </a>
                </div>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/CategoryPage/product_12.jpg" alt="">
                        <h3 class="element-title">LILLIAN AUGUST <span class="like icon-EDS_icon-01"></span></h3>
                    </a>
                </div>
                <span class="block-more-link">MORE</span>
            </div>
        </div>
    </div>
</section>


<!--footer-->
<footer>
    <div class="footer-container">
        <div class="footer-main">
            <div class="company-info">
                <a href="">
                    <img src="../img/logo.png" alt="logo">
                </a>
                <p class="main-info">Welcome to EDS Lifestyle. We offer Home Design,
                    Intellengent System, Furniture and Soft Decoration.
                </p>
            </div>
            <div class="contact-information">
                <h3 class="contact-title">
                    Contact information
                </h3>
                <p class="contact-info">
                    Room 1003, No.55, Beijing West Road, Huangpu District, Shanghai
                </p>
                <p class="phone">
                    Tel: 400-002-1840
                </p>
                <p class="mail">
                    E-mail: info@eds-interior.com
                </p>
            </div>
        </div>
        <div class="footer-menu">
            <ul class="nav-elements">
                <li><a href="">home</a></li>
                <li><a href="">design</a></li>
                <li><a href="">rooms</a></li>
                <li><a href="">designer</a></li>
                <li><a href="">decoration</a></li>
                <li><a href="">materials</a></li>
                <li><a href="">furniture</a></li>
                <li><a href="">about us</a></li>
            </ul>
        </div>
        <div class="copyright">
            Copyright © 2015 EDS Lifestyle™. All Rights Reserved
        </div>
    </div>
    <a href = '' class = "leave-message ltr-spg">LEAVE A MESSAGE</a>

    <!--Mobile footer-->
    <div class="mobile-footer-wrapper">
        <div class="footer-company-info">
            <a href="">
                <img src="../img/logo.png" alt="logo">
            </a>
            <p class="main-info">Welcome to EDS Lifestyle. We offer Home Design,
                Intellengent System, Furniture and Soft Decoration.
            </p>
        </div>
        <div class="footer-mobile-menu ">
            <a href="" class="mobile-menu-element">home</a>
            <a href="" class="mobile-menu-element">decoration</a>
            <a href="" class="mobile-menu-element">design</a>
            <a href="" class="mobile-menu-element">materials</a>
            <a href="" class="mobile-menu-element">rooms</a>
            <a href="" class="mobile-menu-element">furniture</a>
            <a href="" class="mobile-menu-element">designer</a>
            <a href="" class="mobile-menu-element">about us</a>
        </div>
        <div class="contact-information">
            <h3 class="contact-title">
                Contact information
            </h3>
            <p class="contact-info">
                Room 1003, No.55, Beijing West Road, Huangpu District, Shanghai
            </p>
            <p class="phone">
                Tel: 400-002-1840
            </p>
            <p class="mail">
                E-mail: info@eds-interior.com
            </p>
        </div>
        <div class="copyright">
            Copyright © 2015 EDS Lifestyle™. All Rights Reserved
        </div>
    </div>
</footer>

<script src="../js/jquery-3.2.1.min.js"></script>
<script src="../js/slick.min.js"></script>
<script src="../js/jquery.superslides.js"></script>
<script src="../js/select2.min.js"></script>
<script src="../js/main.js"></script>
<script src="../js/mobile.js"></script>
</body>
</html>