<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EDS</title>
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/slick.css">
    <!--<link rel="stylesheet" href="../css/slick-theme.css">-->
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/responsive/header-responsive.css">
    <link rel="stylesheet" href="../css/responsive/footer-responsive.css">
    <link rel="stylesheet" href="../css/responsive/main-responsive.css">
</head>
<body>

<!--header-->
<header>
    <div class="header-container">
        <div class="main-header">
            <div class="contact-info">
                <ul>
                    <li class="phone">00-002-1840</li>
                    <li class="mail">info@eds-interior.com</li>
                </ul>
            </div>
            <div class="logo">
                <img src="../img/logo.png" alt="logo">
            </div>
            <div class="account">
                <ul>
                    <li class="search">
                        <input type="search" placeholder="Search">
                    </li>
                    <li class="likes">
                        <span class="icon-EDS_icon-01"></span>
                        <span class="likes-count">1</span>
                    </li>
                    <li class="acc-name">my account</li>
                    <li class="language"><a href="">en</a></li>
                </ul>
            </div>
        </div>
        <div class="menu-main-container">
            <ul class="menu" id = 'menu-main'>
                <li><a href="">home</a>
                    <!--<div class = 'menu-dropdown'>-->
                        <!--<div class="dropdown-list-block">-->
                            <!--<div class="dropdown-list">-->
                                <!--<h4>External walls and-->
                                    <!--facades</h4>-->
                                <!--<ul>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                            <!--<div class="dropdown-list">-->
                                <!--<h4>External walls and-->
                                    <!--facades</h4>-->
                                <!--<ul>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                            <!--<div class="dropdown-list">-->
                                <!--<h4>External walls and-->
                                    <!--facades</h4>-->
                                <!--<ul>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                            <!--<div class="dropdown-list">-->
                                <!--<h4>External walls and-->
                                    <!--facades</h4>-->
                                <!--<ul>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                            <!--<div class="dropdown-list">-->
                                <!--<h4>External walls and-->
                                    <!--facades</h4>-->
                                <!--<ul>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                            <!--<div class="dropdown-list">-->
                                <!--<h4>External walls and-->
                                    <!--facades</h4>-->
                                <!--<ul>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="dropdown-img">-->
                            <!--<img src="../img/Bedroom.jpg" alt="">-->
                            <!--<h2 class = 'img-title ltr-spg'>Materials</h2>-->
                        <!--</div>-->
                    <!--</div>-->
                </li>
                <li><a href="">design</a></li>
                <li><a href="">rooms</a></li>
                <li><a href="">designer</a></li>
                <li><a href="">decoration</a></li>
                <li><a href="">materials</a></li>
                <li><a href="">furniture</a></li>
                <li><a href="">about us</a></li>
            </ul>
        </div>
    </div>
    <!--Mobile Menu-->
    <div class="mobile-menu">
        <div class="logo">
            <a href=""><img src="../img/logo.png" alt="logo"></a>
        </div>
        <div class="input-block">
            <input type="search" placeholder="Search">
            <div class="mobile-icon">
                Menu
                <span class="icon-EDS_icon-23"></span>
            </div>
        </div>
    </div>
    <div class="menu-block">
        <div class="menu-header">
            <span class="likes">
                <span class="icon-EDS_icon-01"></span>
                <span class="likes-count">1</span>
            </span>
            <span class="account">my account</span>
            <span class="language"><a href="">en</a></span>
            <span class="icon-EDS_icon-10 close-mobile-menu"></span>
        </div>
        <div class="menu-list">
            <ul class="main-list">
                <li class="main-list-element"><a href="">home</a> </li>
                <li class="main-list-element"><a href="">design</a> <span class="icon-EDS_icon-07 arrow"></span>
                    <ul class="submenu-list">
                        <li>Home Decorations
                            <ul>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                            </ul>
                        </li>
                        <li>Home Decorations</li>
                        <li>Home Decorations</li>
                        <li>Home Decorations</li>
                    </ul>
                </li>
                <li class="main-list-element"><a href="">rooms</a> <span class="icon-EDS_icon-07 arrow"></span>
                    <ul class="submenu-list">
                        <li>Home Decorations
                            <ul>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                            </ul>
                        </li>
                        <li>Home Decorations</li>
                        <li>Home Decorations</li>
                        <li>Home Decorations</li>
                    </ul></li>
                <li class="main-list-element"><a href="">designer</a> </li>
                <li class="main-list-element"><a href="">decoration</a> <span class="icon-EDS_icon-07 arrow"></span></li>
                <li class="main-list-element"><a href="">materials</a> <span class="icon-EDS_icon-07 arrow"></span>
                    <ul class="submenu-list">
                        <li>Home Decorations
                            <ul>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                            </ul>
                        </li>
                        <li>Home Decorations</li>
                        <li>Home Decorations</li>
                        <li>Home Decorations</li>
                    </ul></li>
                <li class="main-list-element"><a href="">furniture</a> <span class="icon-EDS_icon-07 arrow"></span>
                    <ul class="submenu-list">
                        <li>Home Decorations
                            <ul>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                            </ul>
                        </li>
                        <li>Home Decorations</li>
                        <li>Home Decorations</li>
                        <li>Home Decorations</li>
                    </ul>
                </li>
                <li class="main-list-element"><a href="">about us</a></li>
            </ul>
        </div>
        <div class="menu-footer">
            <span>400-002-1840</span>
            <span>info@eds-interior.com</span>
        </div>
    </div>
</header>
<!--HEADER END -->

<section class = "profile-block">
    <div class="background-block" style = 'background-image: url(../img/DesignerPage/Header.jpg)'>
    </div>
    <div class="profile-information-block">
        <div class="container">
            <div class="designer-info">
                <img src="../img/DesignerPage/Designer.jpg" alt="profile photo">
                <div class="designer-name">
                    <h2 class="user-name">Aaron Eckhart</h2>
                    <h4 class="user-location">
                        <span class="icon-EDS_icon-11"></span>
                        Milano, MI / Italy
                    </h4>
                </div>
            </div>
            <div class="designer-buttons">
                <div class="btns-wrapper">
                    <a href="" class="btn-red">Contact the Designer</a>
                    <a href="" class="like-button"><span class="icon-EDS_icon-02"></span>liked</a>
                    <a href="" class="trp-btn">web site</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class = "profile-description">
    <div class="description-wrapper">
        <span class="description-text">
            Born in Castelfranco Veneto (Italy) in 1981, after having taken a university degree in
        Industrial Design at IED, in Milan in 2003 and having attended a master at Domus Academy (MI),
        she has worked with designers like Renato Montagner e Raffaella Mangiarotti.
        Currently, since 2006, she works as a designer for studio Lissoni Associati (MI),
        following through, parallel freelance projects and working with companies like Covo,
        Non Sans Raison, Reflex, Ca...
        </span>
        <span class="read-more">read more</span>
    </div>
</section>

<section class="products">
    <div class="container">
        <h1 class="ltr-spg">Products</h1>
        <div class="gallery">
            <div class="gallery-wrapper">
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/D1.jpg" alt="">
                        <h3 class="element-title">LILLIAN AUGUST <span class="like icon-EDS_icon-01"></span></h3>
                        <h4 class="element-description">Bohemian Allure, Cabin Refinement, European Rust</h4>
                    </a>
                </div>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/D2.jpg" alt="">
                        <h3 class="element-title">LILLIAN AUGUST <span class="like icon-EDS_icon-01"></span></h3>
                        <h4 class="element-description">Bohemian Allure, Cabin Refinement, European Rust</h4>
                    </a>
                </div>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/D3.jpg" alt="">
                        <h3 class="element-title">LILLIAN AUGUST <span class="like icon-EDS_icon-01"></span></h3>
                        <h4 class="element-description">Bohemian Allure, Cabin Refinement, European Rust</h4>
                    </a>
                </div>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/D4.jpg" alt="">
                        <h3 class="element-title">LILLIAN AUGUST <span class="like icon-EDS_icon-01"></span></h3>
                        <h4 class="element-description">Bohemian Allure, Cabin Refinement, European Rust</h4>
                    </a>
                </div>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/D5.jpg" alt="">
                        <h3 class="element-title">LILLIAN AUGUST <span class="like icon-EDS_icon-01"></span></h3>
                        <h4 class="element-description">Bohemian Allure, Cabin Refinement, European Rust</h4>
                    </a>
                </div>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/D6.jpg" alt="">
                        <h3 class="element-title">LILLIAN AUGUST <span class="like icon-EDS_icon-01"></span></h3>
                        <h4 class="element-description">Bohemian Allure, Cabin Refinement, European Rust</h4>
                    </a>
                </div>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/D7.jpg" alt="">
                        <h3 class="element-title">LILLIAN AUGUST <span class="like icon-EDS_icon-01"></span></h3>
                        <h4 class="element-description">Bohemian Allure, Cabin Refinement, European Rust</h4>
                    </a>
                </div>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/D8.jpg" alt="">
                        <h3 class="element-title">LILLIAN AUGUST <span class="like icon-EDS_icon-01"></span></h3>
                        <h4 class="element-description">Bohemian Allure, Cabin Refinement, European Rust</h4>
                    </a>
                </div>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/D9.jpg" alt="">
                        <h3 class="element-title">LILLIAN AUGUST <span class="like icon-EDS_icon-01"></span></h3>
                        <h4 class="element-description">Bohemian Allure, Cabin Refinement, European Rust</h4>
                    </a>
                </div>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/D1.jpg" alt="">
                        <h3 class="element-title">LILLIAN AUGUST <span class="like icon-EDS_icon-01"></span></h3>
                        <h4 class="element-description">Bohemian Allure, Cabin Refinement, European Rust</h4>
                    </a>
                </div>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/D2.jpg" alt="">
                        <h3 class="element-title">LILLIAN AUGUST <span class="like icon-EDS_icon-01"></span></h3>
                        <h4 class="element-description">Bohemian Allure, Cabin Refinement, European Rust</h4>
                    </a>
                </div>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/D3.jpg" alt="">
                        <h3 class="element-title">LILLIAN AUGUST <span class="like icon-EDS_icon-01"></span></h3>
                        <h4 class="element-description">Bohemian Allure, Cabin Refinement, European Rust</h4>
                    </a>
                </div>
            </div>
            <button class="btn more-btn">more</button>
        </div>
    </div>
</section>

<section class="projects">
    <div class="container">
        <h1 class="ltr-spg">Projects</h1>
        <div class="gallery">
            <div class="gallery-wrapper">
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/D1.jpg" alt="">
                        <h3 class="element-title">LILLIAN AUGUST <span class="like icon-EDS_icon-01"></span></h3>
                        <h4 class="element-description">Bohemian Allure, Cabin Refinement, European Rust</h4>
                    </a>
                </div>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/D2.jpg" alt="">
                        <h3 class="element-title">LILLIAN AUGUST <span class="like icon-EDS_icon-01"></span></h3>
                        <h4 class="element-description">Bohemian Allure, Cabin Refinement, European Rust</h4>
                    </a>
                </div>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/D3.jpg" alt="">
                        <h3 class="element-title">LILLIAN AUGUST <span class="like icon-EDS_icon-01"></span></h3>
                        <h4 class="element-description">Bohemian Allure, Cabin Refinement, European Rust</h4>
                    </a>
                </div>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/D4.jpg" alt="">
                        <h3 class="element-title">LILLIAN AUGUST <span class="like icon-EDS_icon-01"></span></h3>
                        <h4 class="element-description">Bohemian Allure, Cabin Refinement, European Rust</h4>
                    </a>
                </div>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/D5.jpg" alt="">
                        <h3 class="element-title">LILLIAN AUGUST <span class="like icon-EDS_icon-01"></span></h3>
                        <h4 class="element-description">Bohemian Allure, Cabin Refinement, European Rust</h4>
                    </a>
                </div>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/D6.jpg" alt="">
                        <h3 class="element-title">LILLIAN AUGUST <span class="like icon-EDS_icon-01"></span></h3>
                        <h4 class="element-description">Bohemian Allure, Cabin Refinement, European Rust</h4>
                    </a>
                </div>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/D7.jpg" alt="">
                        <h3 class="element-title">LILLIAN AUGUST <span class="like icon-EDS_icon-01"></span></h3>
                        <h4 class="element-description">Bohemian Allure, Cabin Refinement, European Rust</h4>
                    </a>
                </div>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/D8.jpg" alt="">
                        <h3 class="element-title">LILLIAN AUGUST <span class="like icon-EDS_icon-01"></span></h3>
                        <h4 class="element-description">Bohemian Allure, Cabin Refinement, European Rust</h4>
                    </a>
                </div>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/D9.jpg" alt="">
                        <h3 class="element-title">LILLIAN AUGUST <span class="like icon-EDS_icon-01"></span></h3>
                        <h4 class="element-description">Bohemian Allure, Cabin Refinement, European Rust</h4>
                    </a>
                </div>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/D1.jpg" alt="">
                        <h3 class="element-title">LILLIAN AUGUST <span class="like icon-EDS_icon-01"></span></h3>
                        <h4 class="element-description">Bohemian Allure, Cabin Refinement, European Rust</h4>
                    </a>
                </div>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/D2.jpg" alt="">
                        <h3 class="element-title">LILLIAN AUGUST <span class="like icon-EDS_icon-01"></span></h3>
                        <h4 class="element-description">Bohemian Allure, Cabin Refinement, European Rust</h4>
                    </a>
                </div>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/D3.jpg" alt="">
                        <h3 class="element-title">LILLIAN AUGUST <span class="like icon-EDS_icon-01"></span></h3>
                        <h4 class="element-description">Bohemian Allure, Cabin Refinement, European Rust</h4>
                    </a>
                </div>
            </div>
            <button class="btn more-btn">more</button>
        </div>
    </div>
</section>
<!--footer-->
<footer>
    <div class="footer-container">
        <div class="footer-main">
            <div class="company-info">
                <a href="">
                    <img src="../img/logo.png" alt="logo">
                </a>
                <p class="main-info">Welcome to EDS Lifestyle. We offer Home Design,
                    Intellengent System, Furniture and Soft Decoration.
                </p>
            </div>
            <div class="contact-information">
                <h3 class="contact-title">
                    Contact information
                </h3>
                <p class="contact-info">
                    Room 1003, No.55, Beijing West Road, Huangpu District, Shanghai
                </p>
                <p class="phone">
                    Tel: 400-002-1840
                </p>
                <p class="mail">
                    E-mail: info@eds-interior.com
                </p>
            </div>
        </div>
        <div class="footer-menu">
            <ul class="nav-elements">
                <li><a href="">home</a></li>
                <li><a href="">design</a></li>
                <li><a href="">rooms</a></li>
                <li><a href="">designer</a></li>
                <li><a href="">decoration</a></li>
                <li><a href="">materials</a></li>
                <li><a href="">furniture</a></li>
                <li><a href="">about us</a></li>
            </ul>
        </div>
        <div class="copyright">
            Copyright © 2015 EDS Lifestyle™. All Rights Reserved
        </div>
    </div>
    <a href = '' class = "leave-message ltr-spg">LEAVE A MESSAGE</a>

    <!--Mobile footer-->
    <div class="mobile-footer-wrapper">
        <div class="footer-company-info">
            <a href="">
                <img src="../img/logo.png" alt="logo">
            </a>
            <p class="main-info">Welcome to EDS Lifestyle. We offer Home Design,
                Intellengent System, Furniture and Soft Decoration.
            </p>
        </div>
        <div class="footer-mobile-menu ">
            <a href="" class="mobile-menu-element">home</a>
            <a href="" class="mobile-menu-element">decoration</a>
            <a href="" class="mobile-menu-element">design</a>
            <a href="" class="mobile-menu-element">materials</a>
            <a href="" class="mobile-menu-element">rooms</a>
            <a href="" class="mobile-menu-element">furniture</a>
            <a href="" class="mobile-menu-element">designer</a>
            <a href="" class="mobile-menu-element">about us</a>
        </div>
        <div class="contact-information">
            <h3 class="contact-title">
                Contact information
            </h3>
            <p class="contact-info">
                Room 1003, No.55, Beijing West Road, Huangpu District, Shanghai
            </p>
            <p class="phone">
                Tel: 400-002-1840
            </p>
            <p class="mail">
                E-mail: info@eds-interior.com
            </p>
        </div>
        <div class="copyright">
            Copyright © 2015 EDS Lifestyle™. All Rights Reserved
        </div>
    </div>
</footer>

<script src="../js/jquery-3.2.1.min.js"></script>
<script src="../js/slick.min.js"></script>
<script src="../js/jquery.superslides.js"></script>
<script src="../js/select2.min.js"></script>
<script src="../js/main.js"></script>
<script src="../js/mobile.js"></script>
</body>
</html>