<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EDS</title>
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/slick.css">
    <!--<link rel="stylesheet" href="../css/slider.css">-->
    <!--<link rel="stylesheet" href="../css/slick-theme.css">-->
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/responsive/header-responsive.css">
    <link rel="stylesheet" href="../css/responsive/footer-responsive.css">
    <link rel="stylesheet" href="../css/responsive/main-responsive.css">
</head>
<body>

<!--header-->
<header>
    <div class="header-container">
        <div class="main-header">
            <div class="contact-info">
                <ul>
                    <li class="phone">00-002-1840</li>
                    <li class="mail">info@eds-interior.com</li>
                </ul>
            </div>
            <div class="logo">
                <img src="../img/logo.png" alt="logo">
            </div>
            <div class="account">
                <ul>
                    <li class="search">
                        <input type="search" placeholder="Search">
                    </li>
                    <li class="likes">
                        <span class="icon-EDS_icon-01"></span>
                        <span class="likes-count">1</span>
                    </li>
                    <li class="acc-name">my account
                        <div class="widget">
                            <ul>
                                <li class="settings-selector">
                                    <a href="">
                                        <span class="icon-EDS_icon-01"></span>
                                        Liked
                                    </a>
                                </li>
                                <li class="settings-selector">
                                    <a href="">
                                        <span class="icon-EDS_icon-03"></span>
                                        Profile Settings
                                    </a>
                                </li>
                                <li class="settings-selector">
                                    <a href="">
                                        Log Out
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="language">en
                        <div id="qtranslate-2" class="widget qtranxs_widget">
                            <ul class="language-chooser language-chooser-custom qtranxs_language_chooser" id="qtranslate-2-chooser">
                                <li class="language-chooser-item language-chooser-item-en">
                                    <a href="">
                                        <img src="../img/Menu/Chinese.jpg" alt="English (en)">
                                        English
                                    </a>
                                </li>
                                <li class="language-chooser-item language-chooser-item-zh active">
                                    <a href="">
                                        <img src="../img/Menu/English.jpg" alt="中文 (zh)">
                                        Chinese
                                    </a>
                                </li>
                            </ul>
                            <div class="qtranxs_widget_end"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="menu-main-container">
            <ul class="menu" id = 'menu-main'>
                <li><a href="">home</a></li>
                <li><a href="">design</a>
                    <div class = 'menu-dropdown smallest'>
                        <div class="dropdown-list-block">
                            <div class="dropdown-list">
                                <ul>
                                    <li><a href="">American Classic</a></li>
                                    <li><a href="">American Classic</a></li>
                                    <li><a href="">American Classic</a></li>
                                    <li><a href="">American Classic</a></li>
                                    <li><a href="">American Classic</a></li>
                                    <li><a href="">American Classic</a></li>
                                    <li><a href="">American Classic</a></li>
                                    <li><a href="">American Classic</a></li>
                                    <li><a href="">American Classic</a></li>
                                    <li><a href="">American Classic</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="dropdown-img">
                            <img src="../img/Bedroom.jpg" alt="">
                            <h2 class = 'img-title ltr-spg'>Design</h2>
                            <h5 class="count-products">3072 Products</h5>
                        </div>
                    </div>
                </li>
                <li><a href="">rooms</a>
                    <div class = 'menu-dropdown smallest'>
                        <div class="dropdown-list-block">
                            <div class="dropdown-list">
                                <ul>
                                    <li><a href="">American Classic</a></li>
                                    <li><a href="">American Classic</a></li>
                                    <li><a href="">American Classic</a></li>
                                    <li><a href="">American Classic</a></li>
                                    <li><a href="">American Classic</a></li>
                                    <li><a href="">American Classic</a></li>
                                    <li><a href="">American Classic</a></li>
                                    <li><a href="">American Classic</a></li>
                                    <li><a href="">American Classic</a></li>
                                    <li><a href="">American Classic</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="dropdown-img">
                            <img src="../img/Dinning-Room.jpg" alt="">
                            <h2 class = 'img-title ltr-spg'>Rooms</h2>
                            <h5 class="count-products">3072 Products</h5>
                        </div>
                    </div>
                </li>
                <li><a href="">designer</a></li>
                <li><a href="">decoration</a>
                    <div class = 'menu-dropdown'>
                        <div class="dropdown-list-block">
                            <div class="dropdown-list">
                                <h4>External walls and
                                    facades</h4>
                                <ul>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                </ul>
                            </div>
                            <div class="dropdown-list">
                                <h4>External walls and
                                    facades</h4>
                                <ul>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                </ul>
                            </div>
                            <div class="dropdown-list">
                                <h4>External walls and
                                    facades</h4>
                                <ul>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                </ul>
                            </div>
                            <div class="dropdown-list">
                                <h4>External walls and
                                    facades</h4>
                                <ul>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                </ul>
                            </div>
                            <div class="dropdown-list">
                                <h4>External walls and
                                    facades</h4>
                                <ul>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                </ul>
                            </div>
                            <div class="dropdown-list">
                                <h4>External walls and
                                    facades</h4>
                                <ul>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="dropdown-img">
                            <img src="../img/Bedroom.jpg" alt="">
                            <h2 class = 'img-title ltr-spg'>Decoration</h2>
                            <h5 class="count-products">3072 Products</h5>
                        </div>
                    </div>
                </li>
                <li><a href="">materials</a>
                    <div class = 'menu-dropdown'>
                        <div class="dropdown-list-block">
                            <div class="dropdown-list">
                                <h4>External walls and
                                    facades</h4>
                                <ul>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                </ul>
                            </div>
                            <div class="dropdown-list">
                                <h4>External walls and
                                    facades</h4>
                                <ul>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                </ul>
                            </div>
                            <div class="dropdown-list">
                                <h4>External walls and
                                    facades</h4>
                                <ul>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                </ul>
                            </div>
                            <div class="dropdown-list">
                                <h4>External walls and
                                    facades</h4>
                                <ul>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                </ul>
                            </div>
                            <div class="dropdown-list">
                                <h4>External walls and
                                    facades</h4>
                                <ul>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                </ul>
                            </div>
                            <div class="dropdown-list">
                                <h4>External walls and
                                    facades</h4>
                                <ul>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="dropdown-img">
                            <img src="../img/Bedroom.jpg" alt="">
                            <h2 class = 'img-title ltr-spg'>Materials</h2>
                            <h5 class="count-products">3072 Products</h5>
                        </div>
                    </div>
                </li>
                <li><a href="">furniture</a>
                    <div class = 'menu-dropdown'>
                        <div class="dropdown-list-block">
                            <div class="dropdown-list">
                                <h4>External walls and
                                    facades</h4>
                                <ul>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                </ul>
                            </div>
                            <div class="dropdown-list">
                                <h4>External walls and
                                    facades</h4>
                                <ul>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                </ul>
                            </div>
                            <div class="dropdown-list">
                                <h4>External walls and
                                    facades</h4>
                                <ul>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                </ul>
                            </div>
                            <div class="dropdown-list">
                                <h4>External walls and
                                    facades</h4>
                                <ul>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                </ul>
                            </div>
                            <div class="dropdown-list">
                                <h4>External walls and
                                    facades</h4>
                                <ul>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                </ul>
                            </div>
                            <div class="dropdown-list">
                                <h4>External walls and
                                    facades</h4>
                                <ul>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                    <li><a href="">sdgfsdf sdfsdf sdfsd</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="dropdown-img">
                            <img src="../img/Bedroom.jpg" alt="">
                            <h2 class = 'img-title ltr-spg'>Furniture</h2>
                            <h5 class="count-products">3072 Products</h5>
                        </div>
                    </div>
                </li>
                <li><a href="">about us</a></li>
            </ul>
        </div>
    </div>

    <!--Mobile Menu-->
    <div class="mobile-menu">
        <div class="logo">
            <a href=""><img src="../img/logo.png" alt="logo"></a>
        </div>
        <div class="input-block">
            <div class="search-wrapper">
                <input type="search" placeholder="Search">
                <span class="icon-EDS_icon-04"></span>
            </div>
            <div class="mobile-icon">
                Menu
                <span class="icon-EDS_icon-23"></span>
            </div>
        </div>
    </div>
    <div class="menu-block">
        <div class="menu-header">
            <span class="likes">
                <span class="icon-EDS_icon-01"></span>
                <span class="likes-count">1</span>
            </span>
            <span class="account acc-name">my account</span>
            <span class="language" id = "mobile-language">en
                <div id="qtranslate-2" class="widget qtranxs_widget">
                    <ul class="language-chooser language-chooser-custom qtranxs_language_chooser" id="qtranslate-2-chooser">
                        <li class="language-chooser-item language-chooser-item-en">
                            <a href="">
                                <img src="../img/Menu/Chinese.jpg" alt="English (en)">
                                English
                            </a>
                        </li>
                        <li class="language-chooser-item language-chooser-item-zh active">
                            <a href="">
                                <img src="../img/Menu/English.jpg" alt="中文 (zh)">
                                Chinese
                            </a>
                        </li>
                    </ul>
                    <div class="qtranxs_widget_end"></div>
                </div>
            </span>
            <span class="icon-EDS_icon-10 close-mobile-menu"></span>
        </div>
        <div class="menu-list">
            <ul class="main-list">
                <li class="main-list-element"><a href="">home</a> </li>
                <li class="main-list-element"><a href="">design</a> <span class="icon-EDS_icon-07 arrow"></span>
                    <ul class="submenu-list">
                        <li>Home Decorations
                            <ul>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                            </ul>
                        </li>
                        <li>Home Decorations</li>
                        <li>Home Decorations</li>
                        <li>Home Decorations</li>
                    </ul>
                </li>
                <li class="main-list-element"><a href="">rooms</a> <span class="icon-EDS_icon-07 arrow"></span>
                    <ul class="submenu-list">
                        <li>Home Decorations
                            <ul>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                            </ul>
                        </li>
                        <li>Home Decorations</li>
                        <li>Home Decorations</li>
                        <li>Home Decorations</li>
                    </ul></li>
                <li class="main-list-element"><a href="">designer</a> </li>
                <li class="main-list-element"><a href="">decoration</a> <span class="icon-EDS_icon-07 arrow"></span></li>
                <li class="main-list-element"><a href="">materials</a> <span class="icon-EDS_icon-07 arrow"></span>
                    <ul class="submenu-list">
                        <li>Home Decorations
                            <ul>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                            </ul>
                        </li>
                        <li>Home Decorations</li>
                        <li>Home Decorations</li>
                        <li>Home Decorations</li>
                    </ul></li>
                <li class="main-list-element"><a href="">furniture</a> <span class="icon-EDS_icon-07 arrow"></span>
                    <ul class="submenu-list">
                        <li>Home Decorations
                            <ul>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                            </ul>
                        </li>
                        <li>Home Decorations</li>
                        <li>Home Decorations</li>
                        <li>Home Decorations</li>
                    </ul>
                </li>
                <li class="main-list-element"><a href="">about us</a></li>
            </ul>
        </div>
        <div class="menu-footer">
            <span>400-002-1840</span>
            <span>info@eds-interior.com</span>
        </div>
    </div>
</header>
<!--HEADER END -->
<section class = "registration-block">
    <span class="close-block icon-EDS_icon-10"></span>
    <div class="registration-form">
        <h1>Become</h1>
        <h3>an EDS-Lifestyle Member!</h3>
        <h5>You will be able to save products, designers and companies in your profile!</h5>
        <form action="">
            <div class="input-wrapper">
                <input type="email" placeholder="Email">
            </div>
            <div class="input-wrapper">
                <input type="password" placeholder="Password">
            </div>
            <a href="" class="forgot-password">Forgot Password?</a>
            <button type="submit" class="btn-red">continue</button>
            <h4>You can join us as a <a href="">designer</a> or as a <a href="">company</a></h4>
        </form>
    </div>
</section>



<div class="wrapper">
    <section class="main home">
        <div class="home-slider-block">
            <div id="slides">
                <div class="slides-container laptop-slick-slider">
                    <div class="slide-element">
                        <img src="../img/Home/Top_1.jpg" alt="">
                        <div class="title-container">
                            <div class="title-wrapper">
                                <h3 class="category">designer</h3>
                                <h1 class="main-title">Fashionable Home Interior Design by Jean Paul Gaultier</h1>
                                <a href="">view</a>
                            </div>
                        </div>
                    </div>
                    <div class="slide-element">
                        <img src="../img/Home/Top_2.jpg" alt="">
                        <div class="title-container">
                            <div class="title-wrapper">
                                <h3 class="category">materials</h3>
                                <h1 class="main-title">The Warmth of Wood</h1>
                                <a href="">view</a>
                            </div>
                        </div>
                    </div>
                    <div class="slide-element">
                        <img src="../img/Home/Top_3.jpg" alt="">
                        <div class="title-container">
                            <div class="title-wrapper">
                                <h3 class="category">materials</h3>
                                <h1 class="main-title">The Warmth of Wood</h1>
                                <a href="">view</a>
                            </div>
                        </div>
                    </div>
                    <div class="slide-element">
                        <img src="../img/Home/Top_4.jpg" alt="">
                        <div class="title-container">
                            <div class="title-wrapper">
                                <h3 class="category">Furniture</h3>
                                <h1 class="main-title">Lamps Like Jewels</h1>
                                <a href="">view</a>
                            </div>
                        </div>
                    </div>
                    <div class="slide-element">
                        <img src="../img/Home/Top_5.jpg" alt="">
                        <div class="title-container">
                            <div class="title-wrapper">
                                <h3 class="category">DESIGN</h3>
                                <h1 class="main-title">Gorgeous finds for every space and style</h1>
                                <a href="">view</a>
                            </div>
                        </div>
                    </div>
                </div>
                <nav class="slides-navigation">
                    <a href = "#" class="next laptop-next"><span class="icon-EDS_icon-07"></span></a>
                    <a href = "#" class="prev laptop-prev"><span class="icon-EDS_icon-08"></span></a>
                </nav>
            </div>
        </div>

        <!--mobile slider-->
        <div class="home-slider-block mobile-home-slider">
            <div id="slides">
                <div class="slides-container mobile-slick-slider">
                    <div class="slide-element">
                        <img src="../img/Mobile/Home_1.jpg" alt="">
                        <div class="title-container">
                            <div class="title-wrapper">
                                <h3 class="category">designer</h3>
                                <h1 class="main-title">Fashionable Home Interior Design by Jean Paul Gaultier</h1>
                                <a href="">view</a>
                            </div>
                        </div>
                    </div>
                    <div class="slide-element">
                        <img src="../img/Mobile/Home_2.jpg" alt="">
                        <div class="title-container">
                            <div class="title-wrapper">
                                <h3 class="category">materials</h3>
                                <h1 class="main-title">The Warmth of Wood</h1>
                                <a href="">view</a>
                            </div>
                        </div>
                    </div>
                    <div class="slide-element">
                        <img src="../img/Mobile/Home_3.jpg" alt="">
                        <div class="title-container">
                            <div class="title-wrapper">
                                <h3 class="category">materials</h3>
                                <h1 class="main-title">The Warmth of Wood</h1>
                                <a href="">view</a>
                            </div>
                        </div>
                    </div>
                    <div class="slide-element">
                        <img src="../img/Mobile/Home_4.jpg" alt="">
                        <div class="title-container">
                            <div class="title-wrapper">
                                <h3 class="category">Furniture</h3>
                                <h1 class="main-title">Lamps Like Jewels</h1>
                                <a href="">view</a>
                            </div>
                        </div>
                    </div>
                    <div class="slide-element">
                        <img src="../img/Mobile/Home_5.jpg" alt="">
                        <div class="title-container">
                            <div class="title-wrapper">
                                <h3 class="category">DESIGN</h3>
                                <h1 class="main-title">Gorgeous finds for every space and style</h1>
                                <a href="">view</a>
                            </div>
                        </div>
                    </div>
                </div>
                <nav class="slides-navigation">
                    <a href = "#" class="next mobile-next"><span class="icon-EDS_icon-07"></span></a>
                    <a href = "#" class="prev mobile-prev"><span class="icon-EDS_icon-08"></span></a>
                </nav>
            </div>
        </div>
    </section>

    <section class="big-blocks">
        <div class="container">
            <div class="big-block-wrapper">
                <a href="" class="left-block">
                    <div class="image-wrapper">
                        <img src="../img/Home/1.jpg" alt="">
                        <span class = "background-cover"></span>
                    </div>
                    <div class="block-title">
                        <h3>American Classic</h3>
                        <h5>From classical oak, to industrial-inspired finishes</h5>
                    </div>
                </a>
            </div>
            <div class="big-block-wrapper">
                <div class="medium-element">
                    <a href="">
                        <div class="image-wrapper">
                            <img src="../img/Home/2.jpg" alt="">
                            <span class = "background-cover"></span>
                        </div>
                        <div class="block-title">
                            <h3>Bohemian Allure</h3>
                            <h5>Stools for every need, for your kitchen, living room or sleeping area</h5>
                        </div>
                    </a>
                </div>
                <div class="medium-element">
                    <a href="">
                        <div class="image-wrapper">
                            <img src="../img/Home/3.jpg" alt="">
                            <span class = "background-cover"></span>
                        </div>
                        <div class="block-title">
                            <h3>Cabin Refinemen</h3>
                            <h5>Chairs, tables and accessories: the right mood for your lunch</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="categories-block">
        <div class="container">
            <div class="category-element">
                <a href="">
                    <div class="image-wrapper">
                        <img src="../img/Home/4.jpg" alt="">
                    </div>
                    <h4 class="category-element-title">Living Room</h4>
                </a>
            </div>
            <div class="category-element">
                <a href="">
                    <div class="image-wrapper">
                        <img src="../img/Home/5.jpg" alt="">
                    </div>
                    <h4 class="category-element-title">Bathroom</h4>
                </a>
            </div>
            <div class="category-element">
                <a href="">
                    <div class="image-wrapper">
                        <img src="../img/Home/6.jpg" alt="">
                    </div>
                    <h4 class="category-element-title">Bedroom</h4>
                </a>
            </div>
            <div class="category-element">
                <a href="">
                    <div class="image-wrapper">
                        <img src="../img/Home/7.jpg" alt="">
                    </div>
                    <h4 class="category-element-title">Dining Room</h4>
                </a>
            </div>
            <div class="category-element">
                <a href="">
                    <div class="image-wrapper">
                        <img src="../img/Home/8.jpg" alt="">
                    </div>
                    <h4 class="category-element-title">Entry</h4>
                </a>
            </div>
            <div class="category-element">
                <a href="">
                    <div class="image-wrapper">
                        <img src="../img/Home/9.jpg" alt="">
                    </div>
                    <h4 class="category-element-title">Family Room</h4>
                </a>
            </div>
            <div class="category-element">
                <a href="">
                    <div class="image-wrapper">
                        <img src="../img/Home/10.jpg" alt="">
                    </div>
                    <h4 class="category-element-title">Kid's Room</h4>
                </a>
            </div>
            <div class="category-element">
                <a href="">
                    <div class="image-wrapper">
                        <img src="../img/Home/11.jpg" alt="">
                    </div>
                    <h4 class="category-element-title">Kitchen</h4>
                </a>
            </div>
        </div>
    </section>

    <section class="big-category">
        <div class="container">
            <div class="big-category-wrapper">
                <div class="block-title">
                    <h4>furniture</h4>
                    <hr>
                    <h1>The colors of nature
                        for True Design new collection</h1>
                    <h3>New proposals to furnish offices, domestic workstations,
                        public and private spaces</h3>
                </div>
            </div>
        </div>
    </section>

    <section class="category-offers home-page">
        <div class="container">
            <div class="offers-block-wrapper">
                <div class="offers-block" style="background-image: url(../img/RoomsSubpage/Materials.jpg)">
                    <div class="offer-link-block">
                        <h2 class="offer-title ltr-spg">materials</h2>
                        <h4 class="offer-count">1321 Product</h4>
                        <a href="" class="btn-red">View Page <span class="icon-EDS_icon-07"></span></a>
                    </div>
                </div>
            </div>
            <div class="offers-block-wrapper">
                <div class="offers-block" style="background-image: url(../img/RoomsSubpage/Designers.jpg)">
                    <div class="offer-link-block">
                        <h2 class="offer-title ltr-spg">designers</h2>
                        <h4 class="offer-count">200 Professionals</h4>
                        <a href="" class="btn-red">View Page <span class="icon-EDS_icon-07"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="main materials home-page">
        <div class="container">
            <div class="gallery">
                <div class="gallery-wrapper">
                    <div class="gallery-wrapper materials-products">
                        <h1>Products</h1>
                        <div class="gallery-element">
                            <a href="">
                                <img src="../img/Materials/Products_1.jpg" alt="">
                                <h3 class="element-title">Cosette Jute Rug, Beige <span class="like icon-EDS_icon-01"></span></h3>
                            </a>
                        </div>
                        <div class="gallery-element">
                            <a href="">
                                <img src="../img/Materials/Products_2.jpg" alt="">
                                <h3 class="element-title">Upholstered Bed S, Sepia/Ecr <span class="like icon-EDS_icon-01"></span></h3>
                            </a>
                        </div>
                        <div class="gallery-element">
                            <a href="">
                                <img src="../img/Materials/Products_3.jpg" alt="">
                                <h3 class="element-title">Hue Pendant Shade, Black & Copper <span class="like icon-EDS_icon-01"></span></h3>
                            </a>
                        </div>
                        <div class="gallery-element">
                            <a href="">
                                <img src="../img/Home/Prod_4.jpg" alt="">
                                <h3 class="element-title">LILLIAN AUGUST <span class="like icon-EDS_icon-01"></span></h3>
                            </a>
                        </div>
                        <span class="block-more-link">MORE</span>
                    </div>
                    <div class="gallery-wrapper materials-designers">
                        <h1>Designers</h1>
                        <div class="gallery-element">
                            <a href="">
                                <img src="../img/Materials/Designer_1.jpg" alt="">
                                <h3 class="element-title">LILLIAN AUGUST <span class="like icon-EDS_icon-01"></span></h3>
                            </a>
                        </div>
                        <div class="gallery-element">
                            <a href="">
                                <img src="../img/Materials/Designer_2.jpg" alt="">
                                <h3 class="element-title">Alessandro Pasquale <span class="like icon-EDS_icon-01"></span></h3>
                            </a>
                        </div>
                        <div class="gallery-element">
                            <a href="">
                                <img src="../img/Materials/Designer_3.jpg" alt="">
                                <h3 class="element-title">JAMIE YOUNG <span class="like icon-EDS_icon-01"></span></h3>
                            </a>
                        </div>
                        <div class="gallery-element">
                            <a href="">
                                <img src="../img/Home/Desig_3.jpg" alt="">
                                <h3 class="element-title">Vanessa Matsalla <span class="like icon-EDS_icon-01"></span></h3>
                            </a>
                        </div>
                        <span class="block-more-link">MORE</span>
                    </div>
                    <div class="gallery-wrapper materials-companies">
                        <h1>Companies</h1>
                        <div class="companies-element">
                            <a class = "" href="">
                                <div class="element-image">
                                    <img src="../img/Materials/Company_1.jpg" alt="">
                                </div>
                                <div class="companies-logo">
                                    <img src="../img/Materials/logo_1.jpg" alt="">
                                </div>
                                <div class="company-location">
                                    <span class="company-name">Ceadesign</span>
                                    <span class="location">
                                    <span class="country"><span class="icon-EDS_icon-11"></span>
                                        Pianezze, Italy
                                    </span>
                                </span>
                                </div>
                            </a>
                        </div>
                        <div class="companies-element">
                            <a class = "" href="">
                                <div class="element-image">
                                    <img src="../img/Materials/Company_2.jpg" alt="">
                                </div>
                                <div class="companies-logo">
                                    <img src="../img/Materials/logo_2.jpg" alt="">
                                </div>
                                <div class="company-location">
                                    <span class="company-name">Saba Italia</span>
                                    <span class="location">
                                    <span class="country"><span class="icon-EDS_icon-11"></span>
                                        Pianezze, Italy
                                    </span>
                                </span>
                                </div>
                            </a>
                        </div>
                        <div class="companies-element">
                            <a class = "" href="">
                                <div class="element-image">
                                    <img src="../img/Materials/Company_3.jpg" alt="">
                                </div>
                                <div class="companies-logo">
                                    <img src="../img/Materials/logo_3.jpg" alt="">
                                </div>
                                <div class="company-location">
                                    <span class="company-name">Massimiliano Toniol</span>
                                    <span class="location">
                                    <span class="country"><span class="icon-EDS_icon-11"></span>
                                        Pianezze, Italy
                                    </span>
                                </span>
                                </div>
                            </a>
                        </div>
                        <div class="companies-element">
                            <a class = "" href="">
                                <div class="element-image">
                                    <img src="../img/Materials/Company_4.jpg" alt="">
                                </div>
                                <div class="companies-logo">
                                    <img src="../img/Materials/logo_4.jpg" alt="">
                                </div>
                                <div class="company-location">
                                    <span class="company-name">ALMA LIGHT</span>
                                    <span class="location">
                                    <span class="country"><span class="icon-EDS_icon-11"></span>
                                        Pianezze, Italy
                                    </span>
                                </span>
                                </div>
                            </a>
                        </div>
                        <span class="block-more-link">MORE</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!--footer-->
<footer>
    <div class="footer-container">
        <div class="footer-main">
            <div class="company-info">
                <a href="">
                    <img src="../img/logo.png" alt="logo">
                </a>
                <p class="main-info">Welcome to EDS Lifestyle. We offer Home Design,
                    Intellengent System, Furniture and Soft Decoration.
                </p>
            </div>
            <div class="contact-information">
                <h3 class="contact-title">
                    Contact information
                </h3>
                <p class="contact-info">
                    Room 1003, No.55, Beijing West Road, Huangpu District, Shanghai
                </p>
                <p class="phone">
                    Tel: 400-002-1840
                </p>
                <p class="mail">
                    E-mail: info@eds-interior.com
                </p>
            </div>
        </div>
        <div class="footer-menu">
            <ul class="nav-elements">
                <li><a href="">home</a></li>
                <li><a href="">design</a></li>
                <li><a href="">rooms</a></li>
                <li><a href="">designer</a></li>
                <li><a href="">decoration</a></li>
                <li><a href="">materials</a></li>
                <li><a href="">furniture</a></li>
                <li><a href="">about us</a></li>
            </ul>
        </div>
        <div class="copyright">
            Copyright © 2015 EDS Lifestyle™. All Rights Reserved
        </div>
    </div>
    <a href = '' class = "leave-message ltr-spg">LEAVE A MESSAGE</a>

    <!--Mobile footer-->
    <div class="mobile-footer-wrapper">
        <div class="footer-company-info">
            <a href="">
                <img src="../img/logo.png" alt="logo">
            </a>
            <p class="main-info">Welcome to EDS Lifestyle. We offer Home Design,
                Intellengent System, Furniture and Soft Decoration.
            </p>
        </div>
        <div class="footer-mobile-menu ">
            <a href="" class="mobile-menu-element">home</a>
            <a href="" class="mobile-menu-element">decoration</a>
            <a href="" class="mobile-menu-element">design</a>
            <a href="" class="mobile-menu-element">materials</a>
            <a href="" class="mobile-menu-element">rooms</a>
            <a href="" class="mobile-menu-element">furniture</a>
            <a href="" class="mobile-menu-element">designer</a>
            <a href="" class="mobile-menu-element">about us</a>
        </div>
        <div class="contact-information">
            <h3 class="contact-title">
                Contact information
            </h3>
            <p class="contact-info">
                Room 1003, No.55, Beijing West Road, Huangpu District, Shanghai
            </p>
            <p class="phone">
                Tel: 400-002-1840
            </p>
            <p class="mail">
                E-mail: info@eds-interior.com
            </p>
        </div>
        <div class="copyright">
            Copyright © 2015 EDS Lifestyle™. All Rights Reserved
        </div>
    </div>
</footer>

<script src="../js/jquery-3.2.1.min.js"></script>
<script src="../js/slick.min.js"></script>
<script src="../js/jquery.superslides.js"></script>
<script src="../js/select2.min.js"></script>
<script src="../js/main.js"></script>
<script src="../js/mobile.js"></script>
</body>
</html>