<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EDS</title>
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/slick.css">
    <!--<link rel="stylesheet" href="../css/slick-theme.css">-->
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/responsive/header-responsive.css">
    <link rel="stylesheet" href="../css/responsive/footer-responsive.css">
    <link rel="stylesheet" href="../css/responsive/main-responsive.css">
</head>
<body>

<!--header-->
<header>
    <div class="header-container">
        <div class="main-header">
            <div class="contact-info">
                <ul>
                    <li class="phone">00-002-1840</li>
                    <li class="mail">info@eds-interior.com</li>
                </ul>
            </div>
            <div class="logo">
                <img src="../img/logo.png" alt="logo">
            </div>
            <div class="account">
                <ul>
                    <li class="search">
                        <input type="search" placeholder="Search">
                    </li>
                    <li class="likes">
                        <span class="icon-EDS_icon-01"></span>
                        <span class="likes-count">1</span>
                    </li>
                    <li class="acc-name">my account</li>
                    <li class="language"><a href="">en</a></li>
                </ul>
            </div>
        </div>
        <div class="menu-main-container">
            <ul class="menu" id = 'menu-main'>
                <li><a href="">home</a>
                    <!--<div class = 'menu-dropdown'>-->
                        <!--<div class="dropdown-list-block">-->
                            <!--<div class="dropdown-list">-->
                                <!--<h4>External walls and-->
                                    <!--facades</h4>-->
                                <!--<ul>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                            <!--<div class="dropdown-list">-->
                                <!--<h4>External walls and-->
                                    <!--facades</h4>-->
                                <!--<ul>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                            <!--<div class="dropdown-list">-->
                                <!--<h4>External walls and-->
                                    <!--facades</h4>-->
                                <!--<ul>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                            <!--<div class="dropdown-list">-->
                                <!--<h4>External walls and-->
                                    <!--facades</h4>-->
                                <!--<ul>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                            <!--<div class="dropdown-list">-->
                                <!--<h4>External walls and-->
                                    <!--facades</h4>-->
                                <!--<ul>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                            <!--<div class="dropdown-list">-->
                                <!--<h4>External walls and-->
                                    <!--facades</h4>-->
                                <!--<ul>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="dropdown-img">-->
                            <!--<img src="../img/Bedroom.jpg" alt="">-->
                            <!--<h2 class = 'img-title ltr-spg'>Materials</h2>-->
                        <!--</div>-->
                    <!--</div>-->
                </li>
                <li><a href="">design</a></li>
                <li><a href="">rooms</a></li>
                <li><a href="">designer</a></li>
                <li><a href="">decoration</a></li>
                <li><a href="">materials</a></li>
                <li><a href="">furniture</a></li>
                <li><a href="">about us</a></li>
            </ul>
        </div>
    </div>

    <!--Mobile Menu-->
    <div class="mobile-menu">
        <div class="logo">
            <a href=""><img src="../img/logo.png" alt="logo"></a>
        </div>
        <div class="input-block">
            <input type="search" placeholder="Search">
            <div class="mobile-icon">
                Menu
                <span class="icon-EDS_icon-23"></span>
            </div>
        </div>
    </div>
    <div class="menu-block">
        <div class="menu-header">
            <span class="likes">
                <span class="icon-EDS_icon-01"></span>
                <span class="likes-count">1</span>
            </span>
            <span class="account">my account</span>
            <span class="language"><a href="">en</a></span>
            <span class="icon-EDS_icon-10 close-mobile-menu"></span>
        </div>
        <div class="menu-list">
            <ul class="main-list">
                <li class="main-list-element"><a href="">home</a> </li>
                <li class="main-list-element"><a href="">design</a> <span class="icon-EDS_icon-07 arrow"></span>
                    <ul class="submenu-list">
                        <li>Home Decorations
                            <ul>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                            </ul>
                        </li>
                        <li>Home Decorations</li>
                        <li>Home Decorations</li>
                        <li>Home Decorations</li>
                    </ul>
                </li>
                <li class="main-list-element"><a href="">rooms</a> <span class="icon-EDS_icon-07 arrow"></span>
                    <ul class="submenu-list">
                        <li>Home Decorations
                            <ul>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                            </ul>
                        </li>
                        <li>Home Decorations</li>
                        <li>Home Decorations</li>
                        <li>Home Decorations</li>
                    </ul></li>
                <li class="main-list-element"><a href="">designer</a> </li>
                <li class="main-list-element"><a href="">decoration</a> <span class="icon-EDS_icon-07 arrow"></span></li>
                <li class="main-list-element"><a href="">materials</a> <span class="icon-EDS_icon-07 arrow"></span>
                    <ul class="submenu-list">
                        <li>Home Decorations
                            <ul>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                            </ul>
                        </li>
                        <li>Home Decorations</li>
                        <li>Home Decorations</li>
                        <li>Home Decorations</li>
                    </ul></li>
                <li class="main-list-element"><a href="">furniture</a> <span class="icon-EDS_icon-07 arrow"></span>
                    <ul class="submenu-list">
                        <li>Home Decorations
                            <ul>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                            </ul>
                        </li>
                        <li>Home Decorations</li>
                        <li>Home Decorations</li>
                        <li>Home Decorations</li>
                    </ul>
                </li>
                <li class="main-list-element"><a href="">about us</a></li>
            </ul>
        </div>
        <div class="menu-footer">
            <span>400-002-1840</span>
            <span>info@eds-interior.com</span>
        </div>
    </div>
</header>
<!--HEADER END -->

<section class="main materials">
    <div class="container">
        <div class="left-sidebar">
            <div class="sidebar-block">
                <h4 class="block-title ltr-spg mobile-sidebar-accord">filters <span class="clear">clear all</span><span class="accord-open icon-EDS_icon-09"></span></h4>
                <div class="changed-filters">
                    <span class="filter">$1 TO $609.5 <span class="close-filter icon-EDS_icon-10
"></span></span>
                    <span class="filter">$1 TO $609.5 <span class="close-filter icon-EDS_icon-10
"></span></span>
                </div>
            </div>
            <div class="sidebar-block">
                <h4 class="block-title block-accordion ltr-spg">category <span class="accord-open icon-EDS_icon-09"></span></h4>
                <div class="accord-block">
                    <ul class="category-list">
                        <li>
                            Rooms
                            <ul>
                                <li>
                                    <a href="">Living Room</a>
                                    <ul>
                                        <li><a href="">Living Room</a></li>
                                        <li><a href="">Living Room</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="">Living Room</a>
                                    <ul>
                                        <li><a href="">Living Room</a></li>
                                        <li><a href="">Living Room</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="">Living Room</a>
                                    <ul>
                                        <li><a href="">Living Room</a></li>
                                        <li><a href="">Living Room</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sidebar-block">
                <h4 class="block-title block-accordion ltr-spg">items <span class="accord-open icon-EDS_icon-09"></span></h4>
                <div class="accord-block">
                    <ul>
                        <li></li>
                    </ul>
                </div>
            </div>
            <div class="sidebar-buttons">

            </div>
        </div>
        <div class="gallery">
            <div class="gallery-wrapper">
                <div class="main-element">
                    <a class = "main-category-block" href="">
                        <img src="../img/Materials/Mater_1.jpg" alt="">
                        <span class="label">External walls and facades</span>
                    </a>
                    <div class="gallery-subcategories">
                        <ul class="subcategories-list">
                            <li><a href="">Blocks and panels for external walls</a></li>
                            <li><a href="">Blocks and panels for external walls</a></li>
                            <li><a href="">Blocks and panels for external walls</a></li>
                        </ul>
                        <span class="more-link">More</span>
                    </div>
                </div>
                <div class="main-element">
                    <a class = "main-category-block" href="">
                        <img src="../img/Materials/Mater_2.jpg" alt="">
                        <span class="label">External walls and facades</span>
                    </a>
                    <div class="gallery-subcategories">
                        <div class="gallery-subcategories">
                            <ul class="subcategories-list">
                                <li><a href="">Blocks and panels for external walls</a></li>
                                <li><a href="">Blocks and panels for external walls</a></li>
                                <li><a href="">Blocks and panels for external walls</a></li>
                            </ul>
                            <span class="more-link">More</span>
                        </div>
                    </div>
                </div>
                <div class="main-element">
                    <a class = "main-category-block" href="">
                        <img src="../img/Materials/Mater_3.jpg" alt="">
                        <span class="label">External walls and facades</span>
                    </a>
                    <div class="gallery-subcategories">
                        <div class="gallery-subcategories">
                            <ul class="subcategories-list">
                                <li><a href="">Blocks and panels for external walls</a></li>
                                <li><a href="">Blocks and panels for external walls</a></li>
                                <li><a href="">Blocks and panels for external walls</a></li>
                            </ul>
                            <span class="more-link">More</span>
                        </div>
                    </div>
                </div>
                <div class="main-element">
                    <a class = "main-category-block" href="">
                        <img src="../img/Materials/Mater_4.jpg" alt="">
                        <span class="label">External walls and facades</span>
                    </a>
                    <div class="gallery-subcategories">
                        <ul class="subcategories-list">
                            <li><a href="">Blocks and panels for external walls</a></li>
                            <li><a href="">Blocks and panels for external walls</a></li>
                            <li><a href="">Blocks and panels for external walls</a></li>
                        </ul>
                        <span class="more-link">More</span>
                    </div>
                </div>
                <div class="main-element">
                    <a class = "main-category-block" href="">
                        <img src="../img/Materials/Mater_5.jpg" alt="">
                        <span class="label">External walls and facades</span>
                    </a>
                    <div class="gallery-subcategories">
                        <div class="gallery-subcategories">
                            <ul class="subcategories-list">
                                <li><a href="">Blocks and panels for external walls</a></li>
                                <li><a href="">Blocks and panels for external walls</a></li>
                                <li><a href="">Blocks and panels for external walls</a></li>
                                <li><a href="">Blocks and panels for external walls</a></li>
                            </ul>
                            <span class="more-link">More</span>
                        </div>
                    </div>
                </div>
                <div class="main-element">
                    <a class = "main-category-block" href="">
                        <img src="../img/Materials/Mater_6.jpg" alt="">
                        <span class="label">External walls and facades</span>
                    </a>
                    <div class="gallery-subcategories">
                        <div class="gallery-subcategories">
                            <ul class="subcategories-list">
                                <li><a href="">Blocks and panels for external walls</a></li>
                                <li><a href="">Blocks and panels for external walls</a></li>
                                <li><a href="">Blocks and panels for external walls</a></li>
                            </ul>
                            <span class="more-link">More</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gallery-wrapper materials-companies">
                <h1>Companies</h1>
                <div class="companies-element">
                    <a class = "" href="">
                        <div class="element-image">
                            <img src="../img/Materials/Company_1.jpg" alt="">
                        </div>
                        <div class="companies-logo">
                            <img src="../img/Materials/logo_1.jpg" alt="">
                        </div>
                        <div class="company-location">
                            <span class="company-name">Ceadesign</span>
                            <span class="location">
                                <span class="country"><span class="icon-EDS_icon-11"></span>
                                    Pianezze, Italy
                                </span>
                            </span>
                        </div>
                    </a>
                </div>
                <div class="companies-element">
                    <a class = "" href="">
                        <div class="element-image">
                            <img src="../img/Materials/Company_2.jpg" alt="">
                        </div>
                        <div class="companies-logo">
                            <img src="../img/Materials/logo_2.jpg" alt="">
                        </div>
                        <div class="company-location">
                            <span class="company-name">Ceadesign</span>
                            <span class="location">
                                <span class="country"><span class="icon-EDS_icon-11"></span>
                                    Pianezze, Italy
                                </span>
                            </span>
                        </div>
                    </a>
                </div>
                <div class="companies-element">
                    <a class = "" href="">
                        <div class="element-image">
                            <img src="../img/Materials/Company_3.jpg" alt="">
                        </div>
                        <div class="companies-logo">
                            <img src="../img/Materials/logo_3.jpg" alt="">
                        </div>
                        <div class="company-location">
                            <span class="company-name">Ceadesign</span>
                            <span class="location">
                                <span class="country"><span class="icon-EDS_icon-11"></span>
                                    Pianezze, Italy
                                </span>
                            </span>
                        </div>
                    </a>
                </div>
                <div class="companies-element">
                    <a class = "" href="">
                        <div class="element-image">
                            <img src="../img/Materials/Company_4.jpg" alt="">
                        </div>
                        <div class="companies-logo">
                            <img src="../img/Materials/logo_4.jpg" alt="">
                        </div>
                        <div class="company-location">
                            <span class="company-name">Ceadesign</span>
                            <span class="location">
                                <span class="country"><span class="icon-EDS_icon-11"></span>
                                    Pianezze, Italy
                                </span>
                            </span>
                        </div>
                    </a>
                </div>
                <div class="companies-element">
                    <a class = "" href="">
                        <div class="element-image">
                            <img src="../img/Materials/Company_5.jpg" alt="">
                        </div>
                        <div class="companies-logo">
                            <img src="../img/Materials/logo_5.jpg" alt="">
                        </div>
                        <div class="company-location">
                            <span class="company-name">Ceadesign</span>
                            <span class="location">
                                <span class="country"><span class="icon-EDS_icon-11"></span>
                                    Pianezze, Italy
                                </span>
                            </span>
                        </div>
                    </a>
                </div>
                <div class="companies-element">
                    <a class = "" href="">
                        <div class="element-image">
                            <img src="../img/Materials/Company_6.jpg" alt="">
                        </div>
                        <div class="companies-logo">
                            <img src="../img/Materials/logo_6.jpg" alt="">
                        </div>
                        <div class="company-location">
                            <span class="company-name">Ceadesign</span>
                            <span class="location">
                                <span class="country"><span class="icon-EDS_icon-11"></span>
                                    Pianezze, Italy
                                </span>
                            </span>
                        </div>
                    </a>
                </div>
                <span class="block-more-link">MORE</span>
            </div>

            <div class="gallery-wrapper materials-designers">
                <h1>Designers</h1>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/Materials/Designer_1.jpg" alt="">
                        <h3 class="element-title">LILLIAN AUGUST <span class="like icon-EDS_icon-01"></span></h3>
                    </a>
                </div>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/Materials/Designer_2.jpg" alt="">
                        <h3 class="element-title">LILLIAN AUGUST <span class="like icon-EDS_icon-01"></span></h3>
                    </a>
                </div>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/Materials/Designer_3.jpg" alt="">
                        <h3 class="element-title">LILLIAN AUGUST <span class="like icon-EDS_icon-01"></span></h3>
                    </a>
                </div>
                <span class="block-more-link">MORE</span>
            </div>

            <div class="gallery-wrapper materials-products">
                <h1>Products</h1>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/Materials/Products_1.jpg" alt="">
                        <h3 class="element-title">LILLIAN AUGUST <span class="like icon-EDS_icon-01"></span></h3>
                    </a>
                </div>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/Materials/Products_2.jpg" alt="">
                        <h3 class="element-title">LILLIAN AUGUST <span class="like icon-EDS_icon-01"></span></h3>
                    </a>
                </div>
                <div class="gallery-element">
                    <a href="">
                        <img src="../img/Materials/Products_3.jpg" alt="">
                        <h3 class="element-title">LILLIAN AUGUST <span class="like icon-EDS_icon-01"></span></h3>
                    </a>
                </div>
                <span class="block-more-link">MORE</span>
            </div>
        </div>
    </div>
</section>


<!--footer-->
<footer>
    <div class="footer-container">
        <div class="footer-main">
            <div class="company-info">
                <a href="">
                    <img src="../img/logo.png" alt="logo">
                </a>
                <p class="main-info">Welcome to EDS Lifestyle. We offer Home Design,
                    Intellengent System, Furniture and Soft Decoration.
                </p>
            </div>
            <div class="contact-information">
                <h3 class="contact-title">
                    Contact information
                </h3>
                <p class="contact-info">
                    Room 1003, No.55, Beijing West Road, Huangpu District, Shanghai
                </p>
                <p class="phone">
                    Tel: 400-002-1840
                </p>
                <p class="mail">
                    E-mail: info@eds-interior.com
                </p>
            </div>
        </div>
        <div class="footer-menu">
            <ul class="nav-elements">
                <li><a href="">home</a></li>
                <li><a href="">design</a></li>
                <li><a href="">rooms</a></li>
                <li><a href="">designer</a></li>
                <li><a href="">decoration</a></li>
                <li><a href="">materials</a></li>
                <li><a href="">furniture</a></li>
                <li><a href="">about us</a></li>
            </ul>
        </div>
        <div class="copyright">
            Copyright © 2015 EDS Lifestyle™. All Rights Reserved
        </div>
    </div>
    <a href = '' class = "leave-message ltr-spg">LEAVE A MESSAGE</a>

    <!--Mobile footer-->
    <div class="mobile-footer-wrapper">
        <div class="footer-company-info">
            <a href="">
                <img src="../img/logo.png" alt="logo">
            </a>
            <p class="main-info">Welcome to EDS Lifestyle. We offer Home Design,
                Intellengent System, Furniture and Soft Decoration.
            </p>
        </div>
        <div class="footer-mobile-menu ">
            <a href="" class="mobile-menu-element">home</a>
            <a href="" class="mobile-menu-element">decoration</a>
            <a href="" class="mobile-menu-element">design</a>
            <a href="" class="mobile-menu-element">materials</a>
            <a href="" class="mobile-menu-element">rooms</a>
            <a href="" class="mobile-menu-element">furniture</a>
            <a href="" class="mobile-menu-element">designer</a>
            <a href="" class="mobile-menu-element">about us</a>
        </div>
        <div class="contact-information">
            <h3 class="contact-title">
                Contact information
            </h3>
            <p class="contact-info">
                Room 1003, No.55, Beijing West Road, Huangpu District, Shanghai
            </p>
            <p class="phone">
                Tel: 400-002-1840
            </p>
            <p class="mail">
                E-mail: info@eds-interior.com
            </p>
        </div>
        <div class="copyright">
            Copyright © 2015 EDS Lifestyle™. All Rights Reserved
        </div>
    </div>
</footer>

<script src="../js/jquery-3.2.1.min.js"></script>
<script src="../js/slick.min.js"></script>
<script src="../js/jquery.superslides.js"></script>
<script src="../js/select2.min.js"></script>
<script src="../js/main.js"></script>
<script src="../js/mobile.js"></script>
</body>
</html>