<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EDS</title>
    <link rel="stylesheet" href="../css/fonts.css">
    <!--<link rel="stylesheet" href="../css/slick.css">-->
    <link rel="stylesheet" href="../css/select2.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/responsive/header-responsive.css">
    <link rel="stylesheet" href="../css/responsive/footer-responsive.css">
    <link rel="stylesheet" href="../css/responsive/main-responsive.css">
</head>
<body>

<!--header-->
<header>
    <div class="header-container">
        <div class="main-header">
            <div class="contact-info">
                <ul>
                    <li class="phone">00-002-1840</li>
                    <li class="mail">info@eds-interior.com</li>
                </ul>
            </div>
            <div class="logo">
                <img src="../img/logo.png" alt="logo">
            </div>
            <div class="account">
                <ul>
                    <li class="search">
                        <input type="search" placeholder="Search">
                    </li>
                    <li class="likes">
                        <span class="icon-EDS_icon-01"></span>
                        <span class="likes-count">1</span>
                    </li>
                    <li class="acc-name">my account</li>
                    <li class="language"><a href="">en</a></li>
                </ul>
            </div>
        </div>
        <div class="menu-main-container">
            <ul class="menu" id = 'menu-main'>
                <li><a href="">home</a>
                    <!--<div class = 'menu-dropdown'>-->
                        <!--<div class="dropdown-list-block">-->
                            <!--<div class="dropdown-list">-->
                                <!--<h4>External walls and-->
                                    <!--facades</h4>-->
                                <!--<ul>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                            <!--<div class="dropdown-list">-->
                                <!--<h4>External walls and-->
                                    <!--facades</h4>-->
                                <!--<ul>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                            <!--<div class="dropdown-list">-->
                                <!--<h4>External walls and-->
                                    <!--facades</h4>-->
                                <!--<ul>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                            <!--<div class="dropdown-list">-->
                                <!--<h4>External walls and-->
                                    <!--facades</h4>-->
                                <!--<ul>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                            <!--<div class="dropdown-list">-->
                                <!--<h4>External walls and-->
                                    <!--facades</h4>-->
                                <!--<ul>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                            <!--<div class="dropdown-list">-->
                                <!--<h4>External walls and-->
                                    <!--facades</h4>-->
                                <!--<ul>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                    <!--<li><a href="">sdgfsdf sdfsdf sdfsd</a></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="dropdown-img">-->
                            <!--<img src="../img/Bedroom.jpg" alt="">-->
                            <!--<h2 class = 'img-title ltr-spg'>Materials</h2>-->
                        <!--</div>-->
                    <!--</div>-->
                </li>
                <li><a href="">design</a></li>
                <li><a href="">rooms</a></li>
                <li><a href="">designer</a></li>
                <li><a href="">decoration</a></li>
                <li><a href="">materials</a></li>
                <li><a href="">furniture</a></li>
                <li><a href="">about us</a></li>
            </ul>
        </div>
    </div>

    <!--Mobile Menu-->
    <div class="mobile-menu">
        <div class="logo">
            <a href=""><img src="../img/logo.png" alt="logo"></a>
        </div>
        <div class="input-block">
            <input type="search" placeholder="Search">
            <div class="mobile-icon">
                Menu
                <span class="icon-EDS_icon-23"></span>
            </div>
        </div>
    </div>
    <div class="menu-block">
        <div class="menu-header">
            <span class="likes">
                <span class="icon-EDS_icon-01"></span>
                <span class="likes-count">1</span>
            </span>
            <span class="account">my account</span>
            <span class="language"><a href="">en</a></span>
            <span class="icon-EDS_icon-10 close-mobile-menu"></span>
        </div>
        <div class="menu-list">
            <ul class="main-list">
                <li class="main-list-element"><a href="">home</a> </li>
                <li class="main-list-element"><a href="">design</a> <span class="icon-EDS_icon-07 arrow"></span>
                    <ul class="submenu-list">
                        <li>Home Decorations
                            <ul>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                            </ul>
                        </li>
                        <li>Home Decorations</li>
                        <li>Home Decorations</li>
                        <li>Home Decorations</li>
                    </ul>
                </li>
                <li class="main-list-element"><a href="">rooms</a> <span class="icon-EDS_icon-07 arrow"></span>
                    <ul class="submenu-list">
                        <li>Home Decorations
                            <ul>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                            </ul>
                        </li>
                        <li>Home Decorations</li>
                        <li>Home Decorations</li>
                        <li>Home Decorations</li>
                    </ul></li>
                <li class="main-list-element"><a href="">designer</a> </li>
                <li class="main-list-element"><a href="">decoration</a> <span class="icon-EDS_icon-07 arrow"></span></li>
                <li class="main-list-element"><a href="">materials</a> <span class="icon-EDS_icon-07 arrow"></span>
                    <ul class="submenu-list">
                        <li>Home Decorations
                            <ul>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                            </ul>
                        </li>
                        <li>Home Decorations</li>
                        <li>Home Decorations</li>
                        <li>Home Decorations</li>
                    </ul></li>
                <li class="main-list-element"><a href="">furniture</a> <span class="icon-EDS_icon-07 arrow"></span>
                    <ul class="submenu-list">
                        <li>Home Decorations
                            <ul>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                                <li><a href="">Paintings and prints</a></li>
                            </ul>
                        </li>
                        <li>Home Decorations</li>
                        <li>Home Decorations</li>
                        <li>Home Decorations</li>
                    </ul>
                </li>
                <li class="main-list-element"><a href="">about us</a></li>
            </ul>
        </div>
        <div class="menu-footer">
            <span>400-002-1840</span>
            <span>info@eds-interior.com</span>
        </div>
    </div>
</header>
<!--HEADER END -->

<section class="registration designer-registration company-registration">
    <div class="container">
        <div class="registration-header">
            <h1>Become</h1>
            <h3>an EDS-Lifestyle Member!</h3>
            <h5>You can join us as a <a href="">Desinger</a>!</h5>
        </div>
        <div class="form-wrapper">
            <form action="">
                <div class="top-form">
                    <h2>Registration Company</h2>
                    <div class="input-wrapper">
                        <input type="text" placeholder="*First Name" required>
                    </div>
                    <div class="input-wrapper">
                        <input type="text" placeholder="*Last Name" required>
                    </div>
                    <div class="input-wrapper">
                        <input type="email" placeholder="*Email" required>
                    </div>
                    <div class="input-wrapper">
                        <input type="password" placeholder="*Password" required>
                    </div>
                    <div class="input-wrapper">
                        <input type="tel" placeholder="*Tel." required>
                    </div>
                    <div class="input-wrapper">
                        <input type="text" placeholder="*Studio Name" required>
                    </div>
                    <div class="input-wrapper select-wrapper">
                        <select name="" id="company_type">
                            <option value="">Some type</option>
                        </select>
                        <span class="arrow icon-EDS_icon-06"></span>
                    </div>
                    <div class="input-wrapper">
                        <input type="text" placeholder="Website">
                    </div>
                    <div class="input-wrapper">
                        <input type="text" placeholder="*Address" required>
                    </div>
                    <div class="input-wrapper">
                        <input type="text" placeholder="*City / Town" required>
                        <input type="text" placeholder="Postcode" required>
                    </div>
                </div>
                <div class="input-wrapper button-wrapper">
                    <button type="submit" class="btn-red">continue <span class="icon-EDS_icon-07"></span></button>
                </div>
            </form>
        </div>
    </div>
</section>


<!--footer-->
<footer>
    <div class="footer-container">
        <div class="footer-main">
            <div class="company-info">
                <a href="">
                    <img src="../img/logo.png" alt="logo">
                </a>
                <p class="main-info">Welcome to EDS Lifestyle. We offer Home Design,
                    Intellengent System, Furniture and Soft Decoration.
                </p>
            </div>
            <div class="contact-information">
                <h3 class="contact-title">
                    Contact information
                </h3>
                <p class="contact-info">
                    Room 1003, No.55, Beijing West Road, Huangpu District, Shanghai
                </p>
                <p class="phone">
                    Tel: 400-002-1840
                </p>
                <p class="mail">
                    E-mail: info@eds-interior.com
                </p>
            </div>
        </div>
        <div class="footer-menu">
            <ul class="nav-elements">
                <li><a href="">home</a></li>
                <li><a href="">design</a></li>
                <li><a href="">rooms</a></li>
                <li><a href="">designer</a></li>
                <li><a href="">decoration</a></li>
                <li><a href="">materials</a></li>
                <li><a href="">furniture</a></li>
                <li><a href="">about us</a></li>
            </ul>
        </div>
        <div class="copyright">
            Copyright © 2015 EDS Lifestyle™. All Rights Reserved
        </div>
    </div>
    <a href = '' class = "leave-message ltr-spg">LEAVE A MESSAGE</a>

    <!--Mobile footer-->
    <div class="mobile-footer-wrapper">
        <div class="footer-company-info">
            <a href="">
                <img src="../img/logo.png" alt="logo">
            </a>
            <p class="main-info">Welcome to EDS Lifestyle. We offer Home Design,
                Intellengent System, Furniture and Soft Decoration.
            </p>
        </div>
        <div class="footer-mobile-menu ">
            <a href="" class="mobile-menu-element">home</a>
            <a href="" class="mobile-menu-element">decoration</a>
            <a href="" class="mobile-menu-element">design</a>
            <a href="" class="mobile-menu-element">materials</a>
            <a href="" class="mobile-menu-element">rooms</a>
            <a href="" class="mobile-menu-element">furniture</a>
            <a href="" class="mobile-menu-element">designer</a>
            <a href="" class="mobile-menu-element">about us</a>
        </div>
        <div class="contact-information">
            <h3 class="contact-title">
                Contact information
            </h3>
            <p class="contact-info">
                Room 1003, No.55, Beijing West Road, Huangpu District, Shanghai
            </p>
            <p class="phone">
                Tel: 400-002-1840
            </p>
            <p class="mail">
                E-mail: info@eds-interior.com
            </p>
        </div>
        <div class="copyright">
            Copyright © 2015 EDS Lifestyle™. All Rights Reserved
        </div>
    </div>
</footer>

<script src="../js/jquery-3.2.1.min.js"></script>
<script src="../js/slick.min.js"></script>
<script src="../js/jquery.superslides.js"></script>
<script src="../js/select2.min.js"></script>
<script src="../js/main.js"></script>
<script src="../js/mobile.js"></script>
</body>
</html>